.custom-bottom-y {
    bottom: -1px;
}

.toggle-bg {
    cursor: pointer;
}

.toggle-dot {
    transition: transform 0.2s;
}

input:checked ~ .toggle-bg {
    background-color: #4caf50;
}

input:checked ~ .toggle-dot {
    transform: translateX(100%);
}

.bg-profile {
    background-image: url("../assets/bg-profile.svg");
}

.bg-css-profile {
    background: bottom right url("../assets/css-op.svg") no-repeat;
}

.qr-code {
    position: fixed;
    bottom: 20px;
    right: 20px;
}

.otp-container {
    position: fixed;
    top: 20px;
    right: 20px;
}