<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Página No Encontrada</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/tailwind.css') }}">
</head>
<body>
    <section>
        <!-- Container -->
        <div class="px-5 py-16 md:px-10 md:py-20">
            <!-- Component -->
            <div class="mx-auto flex w-full max-w-3xl flex-col items-center text-center">
                <img src="static/assets/404.png" alt="" class="mx-auto rounded-full mb-8 inline-block h-64 w-64 flex-none object-cover" />
                <h1 class="mb-4 text-4xl font-bold md:text-6xl">Error 404</h1>
                <p class="mx-auto mb-5 max-w-lg text-sm text-gray-500 sm:text-base md:mb-6 lg:mb-8"> Lo sentimos, no encontramos la página que buscas. </p>
                <a href="/" class="inline-block items-center rounded-md bg-black px-8 py-4 text-center font-semibold text-white"> Inicio </a>
            </div>
        </div>
    </section>
</body>
</html>




