{% include 'tablero-header.html' %}

{% include 'tablero-sidebar.html' %}
    
    <!-- CONTENIDO -->
    <div class="w-full lg:ps-64">
        <div class="p-4 sm:p-6 space-y-4 sm:space-y-6">

            <!-- TABLA RESUMEN EVENTOS -->
            <div class="max-w-[85rem] px-2 pt-1 mx-auto">
                <!-- Card -->
                <div class="flex flex-col">
                <div class="-m-1.5 overflow-x-auto">
                    <div class="p-1.5 min-w-full inline-block align-middle">
                    
                        <div id="creditos" class="grid mb-6">
                            <div class="flex flex-col p-4 bg-white border shadow-sm rounded-xl">
                                <div class="overflow-x-auto p-4">
                                    <h4 class="text-xl font-semibold text-gray-800 border-b pb-2 mb-2">Créditos</h4>
                                    <p class="text-sm text-justify py-1">
                                        CertiCSS es una plataforma de <span class="italic">Health Edtech</span> que ha sido desarrollada a medida para el <strong>Departamento Nacional de Docencia e Investigación</strong> (DENADOI) de la Caja de Seguro Social de Panamá, en el marco de una iniciativa local de <strong>transformación digital</strong> orientada a fortalecer la capacidad operativa, académica y tecnológica del departamento. Cuenta con el respaldo total del Jefe y Subjefe de DENADOI, <strong>Dr. Paulino Vigil-De Gracia</strong> y <strong>Dr. Silvio Vega</strong>.
                                    </p>
                                    <p class="text-sm text-justify py-1">
                                        El desarrollo responde a la necesidad de modernizar los procesos relacionados con la gestión de eventos académicos y científicos, permitiendo una administración más eficiente, transparente y trazable de actividades clave como el registro de participantes, control de asistencia, evaluación de impacto y generación de informes automatizados.
                                    </p>
                                    <p class="text-sm text-justify py-1">
                                        Esta iniciativa busca no solo optimizar los recursos y reducir las cargas administrativas, sino también sentar las bases para una gestión del conocimiento más integrada, orientada a la mejora continua y la innovación educativa en salud. La solución fue concebida con una visión de sostenibilidad y escalabilidad, como parte del compromiso del departamento con la excelencia académica, la digitalización progresiva y el acceso equitativo a oportunidades de formación continua para los profesionales de la salud en todo el país.
                                    </p>
                                    <h5 class="text-base font-semibold text-gray-800 border-b pb-1 mt-4 mb-1">Autor / desarrollador principal</h5>
                                    <p class="text-sm text-justify py-1">
                                        <strong>Dr. Moisés Serrano Samudio</strong><br />
                                        Coordinador Local de Docencia e Investigación. Policlínica Lic. Manuel María Valdés.<br />
                                        Médico con formación en informática en salud<br />
                                        Miembro de la American Medical Informatics Association (AMIA)
                                    </p>
                                    <h5 class="text-base font-semibold text-gray-800 border-b pb-1 mt-4 mb-1">Colaboración</h5>
                                    <p class="text-sm py-1">
                                        <strong>Dra. Michele Ocampo Aparicio</strong><br />
                                        Coordinadora Nacional de Atención Primaria en Salud, DENADOI.<br />
                                        Colaboradora en diseño funcional, diseño de procesos y mejora de reportes de métricas.<br />
                                        Aportes clave en la definición de procesos, visualización de informes y experiencia de usuario.
                                    </p>
                                    <h5 class="text-base font-semibold text-gray-800 border-b pb-1 mt-4 mb-1">Asistencia tecnológica</h5>
                                    <p class="text-sm text-justify py-1">
                                        Algunas secciones del código fueron desarrolladas con el apoyo de herramientas de inteligencia artificial, como <strong>Anthropic Claude Code</strong> y los entornos de desarrollo asistido <strong>Kiro</strong> y <strong>Cursor</strong>, lo que permitió optimizar tiempos de codificación y depuración. Todas las decisiones de diseño y revisión final fueron realizadas por el autor/desarrollador principal.
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div id="licencia" class="grid mb-6">
                            <div class="flex flex-col p-4 bg-white border shadow-sm rounded-xl">
                                <div class="overflow-x-auto p-4">
                                    <h4 class="text-xl font-semibold text-gray-800 border-b pb-2 mb-2">Licencia</h4>
                                    <p class="text-sm text-justify py-1">
                                        Esta aplicación ha sido liberada como <strong>software libre</strong> bajo la licencia <strong>AGPL v3</strong>, lo que permite su uso, adaptación y mejora por parte de la comunidad técnica y académica. Esta decisión responde no solo a principios de transparencia y colaboración, sino también a una visión estratégica de <strong>mejora de la gobernanza digital institucional</strong>, al favorecer el control soberano sobre los sistemas de información, la auditabilidad del código fuente y la sostenibilidad tecnológica a largo plazo.
                                    </p>
                                    <br />
                                    <div class="text-xs font-mono whitespace-pre-wrap break-words bg-gray-50 p-3 rounded-md border">CertiCSS: Sistema de gerencia y divulgación de eventos académicos de la CSS.  
Copyright (C) 2024-2025  Moisés Serrano Samudio

Este programa es software libre: usted puede redistribuirlo y/o modificarlo 
bajo los términos de la Licencia Pública General Affero de GNU publicada 
por la Free Software Foundation, ya sea la versión 3 de la Licencia o (a su elección) 
cualquier versión posterior.

Este programa se distribuye con la esperanza de que sea útil, 
pero SIN NINGUNA GARANTÍA; incluso sin la garantía implícita de 
COMERCIABILIDAD o IDONEIDAD PARA UN PROPÓSITO PARTICULAR. 
Consulte la Licencia Pública General Affero de GNU para más detalles.

Usted debe haber recibido una copia de la Licencia Pública General Affero de GNU 
junto con este programa. En caso contrario, puede consultarla en:  
https://www.gnu.org/licenses/

Una copia de esta licencia se encuentra también disponible en el repositorio del código fuente:  
https://github.com/linkmoises/CertiCSS</div>
                                </div>
                            </div>
                        </div>

                        <div id="referencias" class="grid">
                            <div class="flex flex-col p-4 bg-white border shadow-sm rounded-xl">
                                <div class="overflow-x-auto p-4">
                                    <h4 class="text-xl font-semibold text-gray-800 border-b pb-2 mb-2">Referencias</h4>
                                    <ol class="py-1 list-decimal list-inside text-sm text-gray-700 space-y-3 leading-relaxed">
                                        <li>
                                            McDonald CJ, Schadow G, Barnes M, Dexter P, Overhage JM, Mamlin B, McCoy JM. <span class="italic">Open Source software in medical informatics—why, how and what</span>. <strong>Int J Med Inform</strong>. 2003;69(2–3):175–184.  
                                            <a class="text-blue-600 hover:text-blue-800 font-medium underline underline-offset-4" href="https://doi.org/10.1016/S1386-5056(02)00104-1" target="_blank">Ver referencia</a>
                                        </li>
                                        <li>
                                            Mastour H, Yousefi R, Niroumand S. <span class="italic">Exploring the acceptance of e-learning in health professions education in Iran based on the technology acceptance model (TAM)</span>. <strong>Sci Rep.</strong> 10 de marzo de 2025; <strong>15</strong>(1):8178.
                                            <a class="text-blue-600 hover:text-blue-800 font-medium underline underline-offset-4" href="https://doi.org/10.1038/s41598-025-90742-5" target="_blank">Ver referencia</a>
                                        </li>
                                        <li>
                                            Moore DEJ, Green JS, Gallis HA. <span class="italic">Achieving desired results and improved outcomes: Integrating planning and assessment throughout learning activities.</span> <strong>J Contin Educ Health Prof.</strong> Invierno de 2009; <strong>29</strong>(1):1. 
                                            <a class="text-blue-600 hover:text-blue-800 font-medium underline underline-offset-4" href="https://doi.org/10.1002/chp.20001" target="_blank">Ver referencia</a>
                                        </li>
                                        <li>
                                            Lucero KS. <span class="italic">Net Promoter Score (NPS): What Does Net Promoter Score Offer in the Evaluation of Continuing Medical Education?</span> <strong>J Eur CME.</strong> 2022; <strong>11</strong>(1):2152941.
                                            <a class="text-blue-600 hover:text-blue-800 font-medium underline underline-offset-4" href="https://doi.org/10.1080/21614083.2022.2152941" target="_blank">Ver referencia</a>
                                        </li>
                                      </ol>
                                </div>
                            </div>
                        </div>
                    
                    </div>
                </div>
                </div>
                <!-- End Card -->
            </div>
            <!-- FIN TABLA RESUMEN EVENTOS -->

{% include 'tablero-footer.html' %}

        </div>
    </div>
    <!-- FIN CONTENIDO -->

<!-- JS PLUGINS -->
<script src="{{ url_for('static', filename='node_modules/preline/dist/preline.js') }}"></script>
<script>
    // Limpia campos dinámicos al cargar la página
    document.addEventListener("DOMContentLoaded", function () {
        const hiddenInputs = document.querySelectorAll("#buscadorForm input[type='hidden']");
        hiddenInputs.forEach((input) => input.remove());
    });
    document.getElementById("buscadorForm").addEventListener("submit", function (event) {
        event.preventDefault(); // Prevenir envío estándar del formulario
    
        const valor = document.getElementById("buscador").value.trim();
        const patterns = {
            cedula: /^(PE|E|N|\d{1,2}(AV|PI)?)-\d{1,4}-\d{1,6}$/, // Cédulas panameñas
            pasaporte: /^[A-Z]{2}\d{6,9}$/,                        // Pasaportes
            id_certificado: /^[a-zA-Z0-9]{8}$/                    // IDs de certificados
        };
    
        let action, field;
    
        if (patterns.cedula.test(valor)) {
            action = "/buscar_certificados";
            field = "cedula";
        } else if (patterns.pasaporte.test(valor)) {
            action = "/buscar_certificados";
            field = "cedula";
        } else if (patterns.id_certificado.test(valor)) {
            action = "/validar_certificado";
            field = "nanoid";
        } else {
            alert("Formato no válido. Introduzca un documento de identificación o un ID de certificado válido.");
            return;
        }
    
        // Crear y enviar el formulario dinámicamente
        const form = event.target;
        form.action = action;
        form.method = "POST";
    
        // Limpiar campos ocultos previos
        const hiddenInputs = form.querySelectorAll("input[type='hidden']");
        hiddenInputs.forEach((input) => input.remove());
    
        const hiddenInput = document.createElement("input");
        hiddenInput.type = "hidden";
        hiddenInput.name = field;
        hiddenInput.value = valor;
        form.appendChild(hiddenInput);
        form.submit();
    });
</script>    
</body>
</html>