<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Certificado Válido</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/tailwind.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- favicons -->
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='assets/favicons/favicon-96x96.png') }}" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="{{ url_for('static', filename='assets/favicons/favicon.svg') }}" />
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='assets/favicons/apple-touch-icon.png') }}" />
    <meta name="apple-mobile-web-app-title" content="CertiCSS" />
    <link rel="manifest" href="{{ url_for('static', filename='assets/favicons/site.webmanifest') }}" />
</head>
<body class="bg-gray-50 dark:bg-neutral-900">

    <!-- ========== MAIN CONTENT ========== -->
    <main id="content">
    <!-- Table Section -->
    <div class="max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 mx-auto">
        <!-- Card -->
        <div class="flex flex-col">
        <div class="-m-1.5 overflow-x-auto">
            <div class="p-1.5 min-w-full inline-block align-middle">
            <div class="bg-white border border-gray-200 rounded-xl shadow-sm overflow-hidden dark:bg-neutral-900 dark:border-neutral-700">
                <!-- Header -->
                <div class="px-6 py-4 border-b border-gray-200 gap-x-4 flex dark:border-neutral-700">
                    <img src="{{ url_for('static', filename='assets/css-logo-192x192.png') }}" alt="Caja de Seguro Social" class="w-12 h-12">
                    <div>
                        <h2 class="text-xl font-semibold text-gray-800 dark:text-neutral-200">
                            Validación de certificados
                        </h2>
                        <p class="text-sm text-gray-600 dark:text-neutral-400">
                            Sistema de verificación de autenticidad de certificados emitidos por DENADOI.
                        </p>
                    </div>
                </div>
                <!-- End Header -->

                <!-- Body -->
                <div class="max-w-lg w-full min-h-[400px] flex flex-col justify-center mx-auto px-6 py-4">
                    <div class="flex justify-center items-center size-[46px] bg-green-100 rounded-lg dark:bg-neutral-800">
                        <svg class="shrink-0 size-6 text-green-600 dark:text-neutral-400" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-earmark-medical" viewBox="0 0 16 16"><path d="M7.5 5.5a.5.5 0 0 0-1 0v.634l-.549-.317a.5.5 0 1 0-.5.866L6 7l-.549.317a.5.5 0 1 0 .5.866l.549-.317V8.5a.5.5 0 1 0 1 0v-.634l.549.317a.5.5 0 1 0 .5-.866L8 7l.549-.317a.5.5 0 1 0-.5-.866l-.549.317zm-2 4.5a.5.5 0 0 0 0 1h5a.5.5 0 0 0 0-1zm0 2a.5.5 0 0 0 0 1h5a.5.5 0 0 0 0-1z"/><path d="M14 14V4.5L9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2M9.5 3A1.5 1.5 0 0 0 11 4.5h2V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h5.5z"/></svg>
                    </div>

                    <h2 class="mt-5 font-semibold text-gray-800 dark:text-white">
                        Certificado válido
                    </h2>

                    <p class="mt-2 text-sm text-gray-600 dark:text-neutral-400">
                        El certificado con el código único <span class="font-mono bg-green-100">{{ participante.nanoid }}</span> ha sido validado correctamente. A continuación, se presentan los detalles del participante:
                    </p>

                    <p class="mt-2 text-sm text-gray-600"><strong>Nombres:</strong> {{ participante.nombres }} {{ participante.apellidos }}</p>
                    <p class="mt-2 text-sm text-gray-600"><strong>Evento:</strong> {{ evento.nombre }}</p>
                    <p class="mt-2 text-sm text-gray-600"><strong>Rol:</strong> {{ participante.rol }}</p>
    {% if participante.rol == 'ponente' %}
                    <p class="mt-2 text-sm text-gray-600"><strong>Ponencia:</strong> {{ participante.titulo_ponencia }}</p>
    {% endif %}

                </div>
                <!-- End Body -->

                <!-- Footer -->
                <div class="px-6 py-4 grid gap-3 md:flex md:justify-between md:items-center border-t border-gray-200 dark:border-neutral-700">
                    <div>
                        <p class="text-sm text-gray-600 dark:text-neutral-400">
                            <span class="font-semibold text-gray-800 dark:text-neutral-200">Certificado válido</span>
                        </p>
                    </div>
                    <div class="print:hidden">
                        <div class="inline-flex gap-x-2">
                            <a href="{{ BASE_URL }}" class="py-2 px-3 inline-flex items-center gap-x-2 text-sm font-medium rounded-lg border border-gray-200 bg-white text-gray-800 shadow-sm hover:bg-gray-50 focus:outline-none focus:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-800 dark:border-neutral-700 dark:text-white dark:hover:bg-neutral-700 dark:focus:bg-neutral-700">
                                <svg class="shrink-0 size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-house"><path d="M15 21v-8a1 1 0 0 0-1-1h-4a1 1 0 0 0-1 1v8"/><path d="M3 10a2 2 0 0 1 .709-1.528l7-5.999a2 2 0 0 1 2.582 0l7 5.999A2 2 0 0 1 21 10v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"/></svg>
                                Inicio
                            </a>
{% if current_user.is_authenticated %}
                            <a href="{{ url_for('tablero_coordinadores') }}" class="py-2 px-3 inline-flex items-center gap-x-2 text-sm font-medium rounded-lg border border-gray-200 bg-white text-gray-800 shadow-sm hover:bg-gray-50 focus:outline-none focus:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-800 dark:border-neutral-700 dark:text-white dark:hover:bg-neutral-700 dark:focus:bg-neutral-700" disabled>
                                <svg class="shrink-0 size-4" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-window-sidebar" viewBox="0 0 16 16"><path d="M2.5 4a.5.5 0 1 0 0-1 .5.5 0 0 0 0 1m2-.5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0m1 .5a.5.5 0 1 0 0-1 .5.5 0 0 0 0 1"/><path d="M2 1a2 2 0 0 0-2 2v10a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V3a2 2 0 0 0-2-2zm12 1a1 1 0 0 1 1 1v2H1V3a1 1 0 0 1 1-1zM1 13V6h4v8H2a1 1 0 0 1-1-1m5 1V6h9v7a1 1 0 0 1-1 1z"/></svg>
                                Tablero
                            </a>
{% endif %}
                            <a href="{{ url_for('validar_certificado') }}" class="py-2 px-3 inline-flex items-center gap-x-2 text-sm font-medium rounded-lg border border-gray-200 bg-white text-gray-800 shadow-sm hover:bg-gray-50 focus:outline-none focus:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-800 dark:border-neutral-700 dark:text-white dark:hover:bg-neutral-700 dark:focus:bg-neutral-700">
                                <svg class="shrink-0 size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-file-search"><path d="M14 2v4a2 2 0 0 0 2 2h4"/><path d="M4.268 21a2 2 0 0 0 1.727 1H18a2 2 0 0 0 2-2V7l-5-5H6a2 2 0 0 0-2 2v3"/><path d="m9 18-1.5-1.5"/><circle cx="5" cy="14" r="3"/></svg>
                                Validar otro certificado
                            </a>
                        </div>
                    </div>
                </div>
                <!-- End Footer -->
            </div>
            </div>
        </div>
        </div>
        <!-- End Card -->
    </div>
    <!-- End Table Section -->
    </main>
    <!-- ========== END MAIN CONTENT ========== -->

  </body>
  </html>