{% include 'tablero-header.html' %}

{% include 'tablero-sidebar.html' %}
    
    <!-- CONTENIDO -->
    <div class="w-full lg:ps-64">
        <div class="p-4 sm:p-6 space-y-4 sm:space-y-6">

{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
            <div class="mb-4">
                {% for category, message in messages %}
                <div class="p-2 rounded-md {{ 'bg-red-100 border border-red-200 text-red-800' if category == 'error' else 'bg-green-100 border border-green-200 text-green-800' if category == 'success' else 'bg-yellow-100 border border-yellow-200 text-yellow-800' }} px-4 py-3 rounded-lg text-sm">
                    {{ message }}
                </div>
                {% endfor %}
            </div>
{% endif %}
{% endwith %}

            <!-- TARJETAS RESUMEN -->
            <div class="max-w-[85rem] px-2 pt-1 mx-auto">
                <!-- Grid -->
                <div class="grid sm:grid-cols-2 lg:grid-cols-4 gap-4 sm:gap-6">
                    <!-- Card -->
                    <div class="flex flex-col bg-white border shadow-sm rounded-xl">
                        <div class="p-4 md:p-5">
                        <div class="flex items-center gap-x-2">
                            <p class="text-xs uppercase tracking-wide text-gray-500">
                                Preregistrados
                            </p>
                        </div>
                
                        <div class="mt-1 flex items-center gap-x-2">
                            <h3 class="text-xl sm:text-2xl font-medium text-gray-800">
                                {{ total_temporales }}
                            </h3>
                        </div>
                    </div>
                </div>
                <!-- End Card -->
            
                <!-- Card -->
                <div class="flex flex-col bg-white border shadow-sm rounded-xl">
                    <div class="p-4 md:p-5">
                        <div class="flex items-center gap-x-2">
                            <p class="text-xs uppercase tracking-wide text-gray-500">
                                Asistencia confirmada
                            </p>
                        </div>
            
                        <div class="mt-1 flex items-center gap-x-2">
                            <h3 class="text-xl sm:text-2xl font-medium text-gray-800">
                                {{ total_confirmados }}
                            </h3>
                        </div>
                    </div>
                </div>
                <!-- End Card -->
            
                <!-- Card -->
                <div class="flex flex-col bg-white border shadow-sm rounded-xl">
                    <div class="p-4 md:p-5">
                        <div class="flex items-center gap-x-2">
                            <p class="text-xs uppercase tracking-wide text-gray-500">
                                % de asistencia
                            </p>
                        </div>

                        <div class="mt-1 flex items-center gap-x-2">
                            <h3 class="text-xl sm:text-2xl font-medium text-gray-800">
                                {% if total_temporales > 0 %}
                                    {{ "%.1f"|format((total_confirmados / total_temporales) * 100) }}%
                                {% else %}
                                    0%
                                {% endif %}
                            </h3>
                        </div>
                    </div>
                </div>
                <!-- End Card -->
            
                <!-- Card -->
                <div class="flex flex-col bg-white border shadow-sm rounded-xl">
                    <div class="p-4 md:p-5">
                        <div class="flex items-center gap-x-2">
                            <p class="text-xs uppercase tracking-wide text-gray-500">
                                Material entregado
                            </p>
                        </div>

                        <div class="mt-1 flex items-center gap-x-2">
                            <h3 class="text-xl sm:text-2xl font-medium text-gray-800">
                                {{ material_entregado }}
                            </h3>
                        </div>
                    </div>
                </div>
                <!-- End Card -->
                </div>
                <!-- End Grid -->
            </div>
            <!-- FIN TARJETAS RESUMEN -->

            <!-- TABLA RESUMEN EVENTOS -->
            <div class="max-w-[85rem] px-2 pt-1 mx-auto">
                <!-- Card -->
                <div class="flex flex-col">
                    <div class="-m-1.5 overflow-x-auto">
                        <div class="p-1.5 min-w-full inline-block align-middle">
                            <div class="bg-white border border-gray-200 rounded-xl shadow-sm overflow-hidden">
                                <!-- Header -->
                                <div class="flex items-center gap-x-3">
                                    <div class="relative h-32 w-32 shrink-0">
{% if evento.afiche_750 %}
                                        <img src="{{ url_for('static', filename='uploads/' + evento.afiche_750.split('/')[-1]) }}" alt="{{ evento.nombre }}" class="w-32 h-32 object-cover rounded-lg absolute top-0 start-0">
{% else %}
                                        <img class="size-full absolute top-0 start-0 object-cover rounded-l-xl" src="{{ url_for('static', filename='assets/afiche-generico.jpg') }}" alt="{{ evento.nombre }}">
{% endif %}                                        
                                    </div>
                                    
                                    <div class="grow">
                                        <h2 class="block text-3xl font-bold mt-2">{{ evento.tipo }}</h2>
                                        <h4 class="block italic mb-2">{{ evento.unidad_ejecutora }}</h4>
                                        <span class="inline-flex items-center gap-1.5 py-1 px-2 rounded-lg text-xs font-medium bg-gray-100 text-gray-800">
                                            {{ evento.tipo }}
                                        </span>
                                        <span class="inline-flex items-center gap-1.5 py-1 px-2 rounded-lg text-xs font-medium bg-gray-100 text-gray-800">
                                            {{ evento.modalidad }}
                                        </span>
                                    </div>
                                </div>
                                <!-- End Header -->
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Card -->
            </div>
            <!-- End TABLA RESUMEN EVENTOS -->

            <!-- TABLA CONTROL DE EVENTO -->
            <div class="max-w-[85rem] px-2 pt-1 mx-auto">
                <!-- Grid -->
                <div class="grid sm:grid-cols-2 lg:grid-cols-5 gap-4 sm:gap-6">
                    <!-- Card -->
                    <a href="{{ url_for('preregistro_manual', codigo_evento=evento.codigo) }}" class="group flex flex-col bg-white border shadow-sm rounded-xl hover:shadow-md focus:outline-none focus:shadow-md transition dark:bg-neutral-800 dark:border-neutral-700">
                        <div class="p-4 md:p-5">
                            <div class="flex justify-between items-center">
                                <div>
                                    <h3
                                        class="group-hover:text-blue-600 font-semibold text-gray-800 dark:group-hover:text-neutral-400 dark:text-neutral-200">
                                        Preregistro Manual
                                    </h3>
                                    <p class="text-sm text-gray-500 dark:text-neutral-500">
                                        Añadir participantes individuales
                                    </p>
                                </div>
                                <div class="ps-3">
                                    <svg class="shrink-0 size-5 text-gray-600 dark:text-neutral-400" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-user-round-plus-icon lucide-user-round-plus"><path d="M2 21a8 8 0 0 1 13.292-6"/><circle cx="10" cy="8" r="5"/><path d="M19 16v6"/><path d="M22 19h-6"/></svg>
                                </div>
                            </div>
                        </div>
                    </a>
                    <!-- End Card -->
                    <!-- Card -->
                    <a href="{{ url_for('upload_participantes_csv', codigo_evento=evento.codigo) }}" class="group flex flex-col bg-white border shadow-sm rounded-xl hover:shadow-md focus:outline-none focus:shadow-md transition dark:bg-neutral-800 dark:border-neutral-700">
                        <div class="p-4 md:p-5">
                            <div class="flex justify-between items-center">
                                <div>
                                    <h3
                                        class="group-hover:text-blue-600 font-semibold text-gray-800 dark:group-hover:text-neutral-400 dark:text-neutral-200">
                                        Cargar listado CSV
                                    </h3>
                                    <p class="text-sm text-gray-500 dark:text-neutral-500">
                                        Subir listado de participantes
                                    </p>
                                </div>
                                <div class="ps-3">
                                    <svg class="shrink-0 size-5 text-gray-600 dark:text-neutral-400" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-file-up-icon lucide-file-up"><path d="M15 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V7Z"/><path d="M14 2v4a2 2 0 0 0 2 2h4"/><path d="M12 12v6"/><path d="m15 15-3-3-3 3"/></svg>
                                </div>
                            </div>
                        </div>
                    </a>
                    <!-- End Card -->
                    <!-- Card -->
                    <a href="{{ url_for('validar_asistencia', codigo_evento=evento.codigo) }}" class="group flex flex-col bg-white border shadow-sm rounded-xl hover:shadow-md focus:outline-none focus:shadow-md transition dark:bg-neutral-800 dark:border-neutral-700">
                        <div class="p-4 md:p-5">
                            <div class="flex justify-between items-center">
                                <div>
                                    <h3
                                        class="group-hover:text-blue-600 font-semibold text-gray-800 dark:group-hover:text-neutral-400 dark:text-neutral-200">
                                        Validar Asistencia
                                    </h3>
                                    <p class="text-sm text-gray-500 dark:text-neutral-500">
                                        Confirmar asistencia de participantes
                                    </p>
                                </div>
                                <div class="ps-3">
                                    <svg class="shrink-0 size-5 text-gray-600 dark:text-neutral-400" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-user-round-check-icon lucide-user-round-check"><path d="M2 21a8 8 0 0 1 13.292-6"/><circle cx="10" cy="8" r="5"/><path d="m16 19 2 2 4-4"/></svg>
                                </div>
                            </div>
                        </div>
                    </a>
                    <!-- End Card -->
                    <!-- Card -->
                    <a href="{{ url_for('listar_participantes_temporales', codigo_evento=evento.codigo) }}" class="group flex flex-col bg-white border shadow-sm rounded-xl hover:shadow-md focus:outline-none focus:shadow-md transition dark:bg-neutral-800 dark:border-neutral-700">
                        <div class="p-4 md:p-5">
                            <div class="flex justify-between items-center">
                                <div>
                                    <h3
                                        class="group-hover:text-blue-600 font-semibold text-gray-800 dark:group-hover:text-neutral-400 dark:text-neutral-200">
                                        Listado de preregistro
                                    </h3>
                                    <p class="text-sm text-gray-500 dark:text-neutral-500">
                                        Listado de participantes preregistrados
                                    </p>
                                </div>
                                <div class="ps-3">
                                    <svg class="shrink-0 size-5 text-gray-600 dark:text-neutral-400" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-list-todo-icon lucide-list-todo"><rect x="3" y="5" width="6" height="6" rx="1"/><path d="m3 17 2 2 4-4"/><path d="M13 6h8"/><path d="M13 12h8"/><path d="M13 18h8"/></svg>
                                </div>
                            </div>
                        </div>
                    </a>
                    <!-- End Card -->
                    <!-- Card -->
                    <a href="{{ url_for('listado_material_educativo', codigo_evento=evento.codigo) }}" class="group flex flex-col bg-white border shadow-sm rounded-xl hover:shadow-md focus:outline-none focus:shadow-md transition dark:bg-neutral-800 dark:border-neutral-700">
                        <div class="p-4 md:p-5">
                            <div class="flex justify-between items-center">
                                <div>
                                    <h3 class="group-hover:text-blue-600 font-semibold text-gray-800 dark:group-hover:text-neutral-400 dark:text-neutral-200">
                                        Material de apoyo
                                    </h3>
                                    <p class="text-sm text-gray-500 dark:text-neutral-500">
                                        Control de entrega de material de apoyo
                                    </p>
                                </div>
                                <div class="ps-3">
                                    <svg class="shrink-0 size-5 text-gray-600 dark:text-neutral-400" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-briefcase-business-icon lucide-briefcase-business"><path d="M12 12h.01"/><path d="M16 6V4a2 2 0 0 0-2-2h-4a2 2 0 0 0-2 2v2"/><path d="M22 13a18.15 18.15 0 0 1-20 0"/><rect width="20" height="14" x="2" y="6" rx="2"/></svg>
                                </div>
                            </div>
                        </div>
                    </a>
                    <!-- End Card -->
                </div>
                <!-- End Grid -->
            </div>

            <!-- TABLA RESUMEN EVENTOS -->
            <div class="max-w-[85rem] px-2 pt-1 mx-auto">
                <!-- Acciones secundarias -->
                <div class="grid sm:grid-cols-2 lg:grid-cols-3 gap-4 sm:gap-6">
                    <a href="{{ url_for('export_checkin_data', codigo_evento=evento.codigo) }}" class="group flex flex-col bg-white border shadow-sm rounded-xl hover:shadow-md focus:outline-none focus:shadow-md transition dark:bg-neutral-800 dark:border-neutral-700">
                        <div class="p-4 md:p-5">
                            <div class="flex justify-between items-center">
                                <div>
                                    <h3
                                        class="group-hover:text-blue-600 font-semibold text-gray-800 dark:group-hover:text-neutral-400 dark:text-neutral-200">
                                        Exportar Datos
                                    </h3>
                                    <p class="text-sm text-gray-500 dark:text-neutral-500">
                                        Descargar reporte de preregistro
                                    </p>
                                </div>
                                <div class="ps-3">
                                    <svg class="shrink-0 size-5 text-gray-600 dark:text-neutral-400"
                                        xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                        fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                        stroke-linejoin="round">
                                        <path d="M21 15v4a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-4" />
                                        <polyline points="17,10 12,15 7,10" />
                                        <line x1="12" x2="12" y1="15" y2="3" />
                                    </svg>
                                </div>
                            </div>
                        </div>
                    </a>

                    <a href="{{ url_for('listar_participantes', codigo_evento=evento.codigo) }}" class="group flex flex-col bg-white border shadow-sm rounded-xl hover:shadow-md focus:outline-none focus:shadow-md transition dark:bg-neutral-800 dark:border-neutral-700">
                        <div class="p-4 md:p-5">
                            <div class="flex justify-between items-center">
                                <div>
                                    <h3 class="group-hover:text-blue-600 font-semibold text-gray-800 dark:group-hover:text-neutral-400 dark:text-neutral-200">
                                        Listado oficial de participantes
                                    </h3>
                                    <p class="text-sm text-gray-500 dark:text-neutral-500">
                                        Volver al listado de participantes
                                    </p>
                                </div>
                                <div class="ps-3">
                                    <svg class="shrink-0 size-5 text-gray-600 dark:text-neutral-400" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-list-checks-icon lucide-list-checks"><path d="m3 17 2 2 4-4"/><path d="m3 7 2 2 4-4"/><path d="M13 6h8"/><path d="M13 12h8"/><path d="M13 18h8"/></svg>
                                </div>
                            </div>
                        </div>
                    </a>

                    <div class="group flex flex-col bg-gray-50 border shadow-sm rounded-xl dark:bg-neutral-700 dark:border-neutral-600">
                        <div class="p-4 md:p-5">
                            <div class="flex justify-between items-center">
                                <div>
                                    <h3 class="font-semibold text-gray-600 dark:text-neutral-300">
                                        Más Funciones
                                    </h3>
                                    <p class="text-sm text-gray-400 dark:text-neutral-400">
                                        Próximamente
                                    </p>
                                </div>
                                <div class="ps-3">
                                    <svg class="shrink-0 size-5 text-gray-400 dark:text-neutral-500" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-candy-icon lucide-candy"><path d="M10 7v10.9"/><path d="M14 6.1V17"/><path d="M16 7V3a1 1 0 0 1 1.707-.707 2.5 2.5 0 0 0 2.152.717 1 1 0 0 1 1.131 1.131 2.5 2.5 0 0 0 .717 2.152A1 1 0 0 1 21 8h-4"/><path d="M16.536 7.465a5 5 0 0 0-7.072 0l-2 2a5 5 0 0 0 0 7.07 5 5 0 0 0 7.072 0l2-2a5 5 0 0 0 0-7.07"/><path d="M8 17v4a1 1 0 0 1-1.707.707 2.5 2.5 0 0 0-2.152-.717 1 1 0 0 1-1.131-1.131 2.5 2.5 0 0 0-.717-2.152A1 1 0 0 1 3 16h4"/></svg>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- FIN TABLA RESUMEN EVENTOS -->

{% include 'tablero-footer.html' %}

        </div>
    </div>
    <!-- FIN CONTENIDO -->

<!-- JS PLUGINS -->
<script src="{{ url_for('static', filename='node_modules/preline/dist/preline.js') }}"></script>
<script>
    // Limpia campos dinámicos al cargar la página
    document.addEventListener("DOMContentLoaded", function () {
        const hiddenInputs = document.querySelectorAll("#buscadorForm input[type='hidden']");
        hiddenInputs.forEach((input) => input.remove());
    });
    document.getElementById("buscadorForm").addEventListener("submit", function (event) {
        event.preventDefault(); // Prevenir envío estándar del formulario
    
        const valor = document.getElementById("buscador").value.trim();
        const patterns = {
            cedula: /^(PE|E|N|\d{1,2}(AV|PI)?)-\d{1,4}-\d{1,6}$/, // Cédulas panameñas
            pasaporte: /^[A-Z]{2}\d{6,9}$/,                        // Pasaportes
            id_certificado: /^[a-zA-Z0-9]{8}$/                    // IDs de certificados
        };
    
        let action, field;
    
        if (patterns.cedula.test(valor)) {
            action = "/buscar_certificados";
            field = "cedula";
        } else if (patterns.pasaporte.test(valor)) {
            action = "/buscar_certificados";
            field = "cedula";
        } else if (patterns.id_certificado.test(valor)) {
            action = "/validar_certificado";
            field = "nanoid";
        } else {
            alert("Formato no válido. Introduzca un documento de identificación o un ID de certificado válido.");
            return;
        }
    
        // Crear y enviar el formulario dinámicamente
        const form = event.target;
        form.action = action;
        form.method = "POST";
    
        // Limpiar campos ocultos previos
        const hiddenInputs = form.querySelectorAll("input[type='hidden']");
        hiddenInputs.forEach((input) => input.remove());
    
        const hiddenInput = document.createElement("input");
        hiddenInput.type = "hidden";
        hiddenInput.name = field;
        hiddenInput.value = valor;
        form.appendChild(hiddenInput);
        form.submit();
    });
</script>    
</body>
</html>