{% include 'tablero-header.html' %}

{% include 'tablero-sidebar.html' %}
    
    <!-- CONTENIDO -->
    <div class="w-full lg:ps-64">
        <div class="p-4 sm:p-6 space-y-4 sm:space-y-6">

            <!-- TABLA RESUMEN EVENTOS -->
            <div class="max-w-[85rem] px-2 pt-1 mx-auto">
                <!-- Card -->
                <div class="flex flex-col">
                <div class="-m-1.5 overflow-x-auto">
                    <div class="p-1.5 min-w-full inline-block align-middle">
                    <div class="bg-white border border-gray-200 rounded-xl shadow-sm overflow-hidden">

                        <!-- Header -->
                        <div class="px-6 py-4 grid gap-3 md:flex md:justify-between md:items-center border-b border-gray-200">
                            <div>
                                <h2 class="text-xl font-semibold text-gray-800">
                                    {{ evento.nombre }}
                                </h2>
                                <p class="text-sm text-gray-600">
                                    Nueva actividad / contenido
                                </p>
                            </div>
                        </div>
                        <!-- End Header -->

                        <!-- Body -->
                        <div class="p-8 lg:col-span-9">
                            
                            <form method="POST" enctype="multipart/form-data">
                                <!-- Grid -->
                                <div class="grid">
        
                                    <div class="grid sm:grid-cols-12 gap-2 sm:gap-6">
                                    
                                        <div class="sm:col-span-3">
                                            <label for="titulo" class="inline-block text-sm text-gray-800 mt-2.5 dark:text-neutral-200">
                                                Título del contenido
                                            </label>
                                        </div>
                                        <!-- End Col -->
                                
                                        <div class="sm:col-span-9">
                                            <input id="titulo" name="titulo" type="text" class="py-2 px-3 pe-11 block w-full border-gray-200 shadow-sm text-sm rounded-lg focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-800 dark:border-neutral-700 dark:text-neutral-400 dark:placeholder-neutral-500 dark:focus:ring-neutral-600" placeholder="Título del contenido o actividad..." required>
                                        </div>
                                        <!-- End Col -->
        
                                        <div class="sm:col-span-3">
                                            <label for="descripcion" class="inline-block text-sm text-gray-800 mt-2.5 dark:text-neutral-200">
                                                Descripción
                                            </label>
                                        </div>
                                        <!-- End Col -->
                                
                                        <div class="sm:col-span-9">
                                            <textarea id="descripcion" name="descripcion" class="py-2 px-3 block w-full border-gray-200 rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-800 dark:border-neutral-700 dark:text-neutral-400 dark:placeholder-neutral-500 dark:focus:ring-neutral-600" rows="3" placeholder="Breve descripción del contenido o actividad docente..."></textarea>
                                        </div>
                                        <!-- End Col -->
        
                                        <div class="sm:col-span-3">
                                            <label for="tipo" class="inline-block text-sm text-gray-800 mt-2.5 dark:text-neutral-200">
                                                Seleccione el contenido a agregar
                                            </label>
                                        </div>
                                        <!-- End Col -->
        
                                        <div class="sm:col-span-9">
                                            <select class="py-2 px-3 pe-9 block w-full sm:w-auto border-gray-200 shadow-sm -mt-px -ms-px first:rounded-t-lg last:rounded-b-lg sm:first:rounded-s-lg sm:mt-0 sm:first:ms-0 sm:first:rounded-se-none sm:last:rounded-es-none sm:last:rounded-e-lg text-sm relative focus:z-10 focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-800 dark:border-neutral-700 dark:text-neutral-400 dark:placeholder-neutral-500 dark:focus:ring-neutral-600" id="tipo" name="tipo" onchange="toggleFields()" required>
                                                <option value="video">Video</option>
                                                <option value="texto">Texto</option>
                                                <option value="documento">Documento (solo PDF)</option>
                                                <option value="caso_chatgpt">Caso clínico interactivo</option>
                                                <option value="examen">Examen (Banco de preguntas)</option>
                                            </select>
        
                                            <div id="video_fields" style="display: none;" class="w-full inline-block text-sm text-gray-800 mt-2.5 dark:text-neutral-200">
                                                <label class="block text-sm font-medium text-gray-700 mb-2.5">URL del Video a integrar</label>
                                                <input type="text" id="url_video" name="url_video" type="text" class="py-2 px-3 pe-11 block w-full border-gray-200 shadow-sm text-sm rounded-lg focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-800 dark:border-neutral-700 dark:text-neutral-400 dark:placeholder-neutral-500 dark:focus:ring-neutral-600" placeholder="https://youtube.com/embed/...">
                                            </div>
                                        
                                            <div id="texto_fields" style="display: none;" class="w-full inline-block text-sm text-gray-800 mt-2.5 dark:text-neutral-200">
                                                <label class="block text-sm font-medium text-gray-700 mb-2.5">Contenido de Texto (admite markdown)</label>
                                                <textarea id="contenido_texto" name="contenido_texto" class="py-2 px-3 block w-full border-gray-200 rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-800 dark:border-neutral-700 dark:text-neutral-400 dark:placeholder-neutral-500 dark:focus:ring-neutral-600" rows="12"></textarea>
                                            </div>
                                        
                                            <div id="documento_fields" style="display: none;" class="w-full inline-block text-sm text-gray-800 mt-2.5 dark:text-neutral-200">
                                                <label class="block text-sm font-medium text-gray-700 mb-2.5">Subir Nuevo Documento (solo PDF)</label>
                                                <input type="file" id="documento" name="documento" class="w-full border p-2 rounded" accept=".pdf">
                                            </div>

                                            <div id="caso_chatgpt_fields" style="display: none;" class="w-full inline-block text-sm text-gray-800 mt-2.5 dark:text-neutral-200">
                                                <label class="block text-sm font-medium text-gray-700 mb-2.5">JSON del caso clínico</label>
                                                <textarea id="json_caso" name="json_caso" class="py-2 px-3 block w-full border border-gray-200 rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500 dark:bg-neutral-800 dark:border-neutral-700 dark:text-neutral-400 dark:focus:ring-neutral-600" rows="16" placeholder='Pega aquí el JSON del caso clínico...'></textarea>
                                                <p class="mt-2 text-sm text-gray-500">Este caso será interpretado por el una iA durante el evento académico.</p>
                                            </div>

                                            <div id="qbank_fields" style="display: none;" class="w-full inline-block text-sm text-gray-800 mt-2.5 dark:text-neutral-200">
                                                <label class="block text-sm font-medium text-gray-700 mb-2.5">Configurar examen del banco de preguntas</label>
                                                <input type="text" id="qbank_config" name="qbank_config" class="py-2 px-3 block w-full border-gray-200 rounded-lg text-sm" placeholder="[O5W4YTK2 preguntas=3 aleatorio=no]">
                                                <p class="mt-2 text-sm text-gray-500">Ejemplo: [O5W4YTK2 preguntas=3 aleatorio=no] se requieren los 2 parámetros para renderizar</p>
                                            </div>
                                        </div>
                                        <!-- End Col -->
        
                                    </div>
        
                                    <button type="submit" class="mt-8 px-4 py-2 bg-green-500 text-white rounded hover:bg-green-600">
                                        Guardar Cambios
                                    </button>
        
                                </div>
                                <!-- End Grid -->
                            </form>

                        </div>
                        <!-- End Body -->

                        <!-- Footer -->
                        <div class="px-6 py-4 grid gap-3 md:flex md:justify-between md:items-center border-t border-gray-200 dark:border-neutral-700">
                            <div>
                            <p class="text-sm text-gray-600 dark:text-neutral-400">
                                <span class="font-semibold text-gray-800 dark:text-neutral-200">Nueva</span> actividad / contenido
                            </p>
                            </div>

                            <div>
                                <div class="inline-flex gap-x-2">
                                    <a class="py-2 px-3 inline-flex items-center gap-x-2 text-sm font-medium rounded-lg border border-gray-200 bg-white text-gray-800 shadow-sm hover:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none focus:outline-none focus:bg-gray-50" href="{{ url_for('plataforma.listar_contenidos', codigo_evento=evento.codigo) }}">
                                        Volver al listado de actividades / contenidos
                                    </a>
                                </div>
                            </div>
                        </div>
                        <!-- End Footer -->

                    </div>
                    </div>
                </div>
                </div>
                <!-- End Card -->
            </div>
            <!-- FIN TABLA RESUMEN EVENTOS -->

{% include 'tablero-footer.html' %}

        </div>
    </div>
    <!-- FIN CONTENIDO -->

<!-- JS PLUGINS -->
<script src="{{ url_for('static', filename='node_modules/preline/dist/preline.js') }}"></script>
<script>
    // Limpia campos dinámicos al cargar la página
    document.addEventListener("DOMContentLoaded", function () {
        const hiddenInputs = document.querySelectorAll("#buscadorForm input[type='hidden']");
        hiddenInputs.forEach((input) => input.remove());
    });
    document.getElementById("buscadorForm").addEventListener("submit", function (event) {
        event.preventDefault(); // Prevenir envío estándar del formulario
    
        const valor = document.getElementById("buscador").value.trim();
        const patterns = {
            cedula: /^(PE|E|N|\d{1,2}(AV|PI)?)-\d{1,4}-\d{1,6}$/, // Cédulas panameñas
            pasaporte: /^[A-Z]{2}\d{6,9}$/,                        // Pasaportes
            id_certificado: /^[a-zA-Z0-9]{8}$/                    // IDs de certificados
        };
    
        let action, field;
    
        if (patterns.cedula.test(valor)) {
            action = "/buscar_certificados";
            field = "cedula";
        } else if (patterns.pasaporte.test(valor)) {
            action = "/buscar_certificados";
            field = "cedula";
        } else if (patterns.id_certificado.test(valor)) {
            action = "/validar_certificado";
            field = "nanoid";
        } else {
            alert("Formato no válido. Introduzca un documento de identificación o un ID de certificado válido.");
            return;
        }
    
        // Crear y enviar el formulario dinámicamente
        const form = event.target;
        form.action = action;
        form.method = "POST";
    
        // Limpiar campos ocultos previos
        const hiddenInputs = form.querySelectorAll("input[type='hidden']");
        hiddenInputs.forEach((input) => input.remove());
    
        const hiddenInput = document.createElement("input");
        hiddenInput.type = "hidden";
        hiddenInput.name = field;
        hiddenInput.value = valor;
        form.appendChild(hiddenInput);
        form.submit();
    });

    function toggleFields() {
        const tipo = document.getElementById('tipo').value;
        
        // Ocultar todos los campos primero
        document.getElementById('video_fields').style.display = 'none';
        document.getElementById('texto_fields').style.display = 'none';
        document.getElementById('documento_fields').style.display = 'none';
        document.getElementById('caso_chatgpt_fields').style.display = 'none';
        document.getElementById('qbank_fields').style.display = 'none';
        
        // Mostrar solo el campo seleccionado
        if (tipo === 'video') {
            document.getElementById('video_fields').style.display = 'block';
        } else if (tipo === 'texto') {
            document.getElementById('texto_fields').style.display = 'block';
        } else if (tipo === 'documento') {
            document.getElementById('documento_fields').style.display = 'block';
        } else if (tipo === 'caso_chatgpt') {
            document.getElementById('caso_chatgpt_fields').style.display = 'block';
        } else if (tipo === 'examen') {
            document.getElementById('qbank_fields').style.display = 'block';
        }
    }

    // Inicializar el formulario al cargar la página
    document.addEventListener('DOMContentLoaded', function() {
        toggleFields(); // Mostrar los campos correctos según la selección inicial
    });
</script>    
</body>
</html>