{% include 'tablero-header.html' %}

{% include 'tablero-sidebar.html' %}

<!-- Content -->
<div class="w-full lg:ps-64">
    <div class="p-4 sm:p-6 space-y-4 sm:space-y-6">

        <!-- TABLA DE EVENTOS -->
        <div class="max-w-[85rem] px-2 pt-1 mx-auto">
            <!-- Card -->
            <div class="flex flex-col">
                <div class="-m-1.5 overflow-x-auto">
                    <div class="p-1.5 min-w-full inline-block align-middle">
                        <div class="bg-white border border-gray-200 rounded-xl shadow-sm overflow-hidden">
                            <!-- Header -->
                            <div
                                class="px-6 py-4 grid gap-3 md:flex md:justify-between md:items-center border-b border-gray-200">
                                <div>
                                    <h2 class="text-xl font-semibold text-gray-800">
                                        Docencias abiertas
                                    </h2>
                                    <p class="text-sm text-gray-600">
                                        Eventos en formato híbrido o virtual de acceso abierto
                                    </p>
                                </div>

                                <div>
                                    <a href="{{ url_for('crear_evento') }}"
                                        class="py-2 px-3 inline-flex items-center gap-x-2 text-sm font-semibold rounded-lg border border-transparent bg-blue-600 text-white hover:bg-blue-700 disabled:opacity-50 disabled:pointer-events-none">
                                        <svg class="flex-shrink-0 size-4" xmlns="http://www.w3.org/2000/svg" width="24"
                                            height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                            stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                            <path d="M5 12h14" />
                                            <path d="M12 5v14" />
                                        </svg>
                                        Nuevo Evento
                                    </a>
                                </div>
                            </div>
                            <!-- End Header -->

                            <!-- Table -->
                            <table class="min-w-full divide-y divide-gray-200">
                                <thead class="bg-gray-50">
                                    <tr>
                                        <th scope="col" class="ps-6 py-3 text-start">
                                            <div class="flex items-center gap-x-2">
                                                <span class="text-xs font-semibold uppercase tracking-wide text-gray-800">
                                                    Evento
                                                </span>
                                            </div>
                                        </th>

                                        <th scope="col" class="px-6 py-3 text-start">
                                            <div class="flex items-center gap-x-2">
                                                <span class="text-xs font-semibold uppercase tracking-wide text-gray-800">
                                                    Resumen LMS
                                                </span>
                                            </div>
                                        </th>

                                        <th scope="col" class="px-6 py-3 text-start">
                                            <div class="flex items-center gap-x-2">
                                                <span class="text-xs font-semibold uppercase tracking-wide text-gray-800">
                                                    Estado
                                                </span>
                                            </div>
                                        </th>

                                        <th scope="col" class="px-6 py-3 text-start">
                                            <div class="flex items-center gap-x-2">
                                                <span class="text-xs font-semibold uppercase tracking-wide text-gray-800">
                                                    Disponibilidad
                                                </span>
                                            </div>
                                        </th>

                                        <th scope="col" class="px-6 py-3 text-start">
                                            <div class="flex items-center gap-x-2">
                                                <span class="text-xs font-semibold uppercase tracking-wide text-gray-800">
                                                    LMS y acciones de usuario
                                                </span>
                                            </div>
                                        </th>

                                        <th scope="col" class="px-6 py-3 text-start">
                                            <div class="flex items-center gap-x-2">
                                                <span class="text-xs font-semibold uppercase tracking-wide text-gray-800">
                                                    Acciones de Evento
                                                </span>
                                            </div>
                                        </th>
                                    </tr>
                                </thead>

                                <tbody class="divide-y divide-gray-200">
{% for evento in eventos %}
                                    <tr>
                                        <td class="h-px w-72 min-w-72">
                                            <div class="px-6 py-2">
                                                <p class="text-sm text-gray-500 mb-2">
                                                    <strong><a
                                                            class="text-sm text-blue-600 decoration-2 hover:underline"
                                                            href="{{ url_for('mostrar_evento', codigo_evento=evento.codigo) }}">
                                                            {{ evento.nombre }}</a></strong>
                                                </p>
                                                <span
                                                    class="inline-flex items-center gap-1.5 py-1 px-2 rounded-lg text-xs font-medium bg-gray-100 text-gray-800">
                                                    {{ evento.tipo }}
                                                </span>
                                                <span
                                                    class="inline-flex items-center gap-1.5 py-1 px-2 rounded-lg text-xs font-medium bg-gray-100 text-gray-800">
                                                    {{ evento.modalidad }}
                                                </span>
                                                <button
                                                    onclick="this.innerText='Código copiado'; navigator.clipboard.writeText('{{ evento.codigo }}'); setTimeout(() => this.innerText='{{ evento.codigo }}', 2000);"
                                                    class="inline-flex items-center justify-center gap-1.5 py-1 px-2 rounded-lg text-xs font-medium bg-gray-100 text-gray-800 hover:bg-gray-200 transition-all">
                                                    {{ evento.codigo }}
                                                </button><br />
                                            </div>
                                        </td>

                                        <td class="size-px whitespace-nowrap">
                                            <div class="px-6 py-3">
                                                <div class="text-xs bg-gray-50 border border-gray-200 p-2 rounded-md">
                                                    Inscritos: {{ evento.total_participantes }}<br />
                                                    Contenidos: {{ evento.total_contenidos }}<br />
                                                    Evaluaciones: {{ evento.total_examenes }}<br />
                                                    {% if evento.tiene_lms %}
                                                    <a href="{{ url_for('tablero_metricas_lms_evento', codigo_evento=evento.codigo) }}"
                                                        class="underline">
                                                        Ver Métricas LMS
                                                    </a><br />
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </td>

                                        <td class="size-px whitespace-nowrap">
                                            <div class="px-6 py-3">
                                                <span
                                                    class="inline-flex items-center gap-1.5 py-1 px-2 rounded-lg text-xs font-medium {% if evento.estado_evento == 'publicado' %}bg-blue-100 text-blue-800{% elif evento.estado_evento == 'cerrado' %}bg-green-100 text-green-800{% else %}bg-gray-100 text-gray-800{% endif %}">
                                                    {% if evento.estado_evento == 'publicado' %}Publicado{% elif evento.estado_evento == 'cerrado' %}Cerrado{% else %}Borrador{% endif %}
                                                </span><br />
                                                {% if evento.tiene_lms %}
                                                <span
                                                    class="inline-flex items-center gap-1.5 py-1 px-2 rounded-lg text-xs font-medium bg-green-100 text-green-800">
                                                    <svg class="size-2.5" xmlns="http://www.w3.org/2000/svg" width="16"
                                                        height="16" fill="currentColor" viewBox="0 0 16 16">
                                                        <path
                                                            d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z">
                                                        </path>
                                                    </svg>
                                                    Configurado
                                                </span><br />
                                                {% else %}
                                                <span
                                                    class="inline-flex items-center gap-1.5 py-1 px-2 rounded-lg text-xs font-medium bg-red-100 text-red-800">
                                                    <svg class="size-2.5" xmlns="http://www.w3.org/2000/svg" width="16"
                                                        height="16" fill="currentColor" viewBox="0 0 16 16">
                                                        <path
                                                            d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z">
                                                        </path>
                                                    </svg>
                                                    Sin contenido
                                                </span><br />
                                                {% endif %}
                                                {{ evento|estado_evento }}
                                            </div>
                                        </td>

                                        <td class="size-px whitespace-nowrap text-center">
                                            <a class="block relative z-10" href="#">
                                                <span class="text-sm text-gray-500">i: {{ evento.fecha_inicio.strftime('%d %b, %Y') }}<br />f: {{ evento.fecha_fin.strftime('%d %b, %Y') }}</span>
                                            </a>
                                        </td>

                                        <td class="size-px whitespace-nowrap">
                                            <div class="px-6 py-2">
                                                {% if current_user.rol == 'administrador' or (evento.estado_evento != 'cerrado' and (current_user.rol == 'denadoi' or current_user.id == evento.autor or evento.es_organizador)) %}
                                                <a href="{{ url_for('plataforma.listar_contenidos', codigo_evento=evento.codigo) }}"
                                                    class="inline-flex items-center gap-x-1 text-sm text-green-600 decoration-2 hover:underline font-medium"
                                                    title="Gestionar LMS">
                                                    Gestionar LMS
                                                </a><br />
                                                <a class="inline-flex items-center gap-x-1 text-sm text-blue-600 decoration-2 hover:underline focus:outline-none focus:underline font-medium"
                                                    href="{{ url_for('registrar_abierto', codigo_evento=evento.codigo) }}">
                                                    Inscribir participante
                                                </a><br />
                                                <a class="inline-flex items-center gap-x-1 text-sm text-green-600 decoration-2 hover:underline focus:outline-none focus:underline font-medium"
                                                    href="{{ url_for('registrar_ponente', codigo_evento=evento.codigo) }}">
                                                    Añadir ponente
                                                </a><br />
                                                {% endif %}
                                                <a class="inline-flex items-center gap-x-1 text-sm text-pink-600 decoration-2 hover:underline focus:outline-none focus:underline font-medium"
                                                    href="{{ url_for('listar_participantes', codigo_evento=evento.codigo) }}">
                                                    Listado de participantes
                                                </a>
                                            </div>
                                        </td>

                                        <td class="size-px whitespace-nowrap">
                                            <div class="px-6 py-1.5">
                                                <div class="">
                                                    <!-- 1. Ver evento (información básica) -->
                                                    <a class="inline-flex items-center gap-x-1 text-sm text-blue-600 decoration-2 hover:underline focus:outline-none focus:underline font-medium"
                                                        href="{{ url_for('ver_evento', codigo_evento=evento.codigo) }}">
                                                        Ver datos
                                                    </a><br />

                                                    <!-- 2. Editar evento (solo organizadores) -->
                                                    {% if current_user.rol == 'administrador' or (evento.estado_evento != 'cerrado' and (current_user.rol == 'denadoi' or current_user.id == evento.autor or evento.es_organizador)) %}
                                                    <a class="inline-flex items-center gap-x-1 text-sm text-orange-600 decoration-2 hover:underline focus:outline-none focus:underline font-medium"
                                                        href="{{ url_for('editar_evento', codigo_evento=evento.codigo) }}">
                                                        Editar evento
                                                    </a><br />
                                                    {% endif %}

                                                    {% if current_user.rol == 'administrador' or (evento.estado_evento != 'cerrado' and (current_user.rol == 'denadoi' or current_user.id == evento.autor)) %}
                                                    <form
                                                        action="{{ url_for('eliminar_evento', codigo_evento=evento.codigo) }}"
                                                        method="post" style="display:inline;">
                                                        <button
                                                            class="text-sm text-red-600 decoration-2 hover:underline"
                                                            type="submit"
                                                            onclick="return confirm('¿Estás seguro de que deseas eliminar este evento?');">
                                                            Eliminar
                                                        </button>
                                                    </form><br />
                                                    <form
                                                        action="{{ url_for('cerrar_evento', codigo_evento=evento.codigo) }}"
                                                        method="post" style="display:inline;">
                                                        <button
                                                            class="text-sm text-red-800 decoration-2 hover:underline"
                                                            type="submit"
                                                            onclick="return confirm('¿Estás seguro de que deseas cerrar este evento?');">
                                                            Cerrar
                                                        </button>
                                                    </form>
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
{% endfor %}
                                </tbody>
                            </table>
                            <!-- End Table -->

                            <!-- Footer -->
                            {% if total_paginas > 1 %}
                            <div
                                class="px-6 py-4 grid gap-3 md:flex md:justify-between md:items-center border-t border-gray-200">
                                <div>
                                    <p class="text-sm text-gray-600">
                                        Página <span class="font-semibold text-gray-800">{{ page }}</span> de <span
                                            class="font-semibold text-gray-800">{{ total_paginas }}</span>
                                    </p>
                                </div>

                                <div>
                                    <div class="inline-flex gap-x-2">
                                        {% if page > 1 %}
                                        <a href="{{ url_for('listar_eventos_abiertos', page=page-1) }}"
                                            class="py-2 px-3 inline-flex items-center gap-x-2 text-sm font-medium rounded-lg border border-gray-200 bg-white text-gray-800 shadow-sm hover:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none">
                                            <svg class="flex-shrink-0 size-4" xmlns="http://www.w3.org/2000/svg"
                                                width="24" height="24" viewBox="0 0 24 24" fill="none"
                                                stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                                stroke-linejoin="round">
                                                <path d="m15 18-6-6 6-6" />
                                            </svg>
                                            Anterior
                                        </a>
                                        {% endif %}

                                        {% if page < total_paginas %} <a
                                            href="{{ url_for('listar_eventos_abiertos', page=page+1) }}"
                                            class="py-2 px-3 inline-flex items-center gap-x-2 text-sm font-medium rounded-lg border border-gray-200 bg-white text-gray-800 shadow-sm hover:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none">
                                            Siguiente
                                            <svg class="flex-shrink-0 size-4" xmlns="http://www.w3.org/2000/svg"
                                                width="24" height="24" viewBox="0 0 24 24" fill="none"
                                                stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                                stroke-linejoin="round">
                                                <path d="m9 18 6-6-6-6" />
                                            </svg>
                                            </a>
                                            {% endif %}
                                    </div>
                                </div>
                            </div>
                            {% endif %}
                            <!-- End Footer -->
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Card -->
        </div>
        <!-- End TABLA DE EVENTOS -->

        {% include 'tablero-footer.html' %}

    </div>
</div>
<!-- End Content -->


<!-- JS PLUGINS -->
<script src="{{ url_for('static', filename='node_modules/preline/dist/preline.js') }}"></script>
<script>
    // Limpia campos dinámicos al cargar la página
    document.addEventListener("DOMContentLoaded", function () {
        const hiddenInputs = document.querySelectorAll("#buscadorForm input[type='hidden']");
        hiddenInputs.forEach((input) => input.remove());
    });
    document.getElementById("buscadorForm").addEventListener("submit", function (event) {
        event.preventDefault(); // Prevenir envío estándar del formulario

        const valor = document.getElementById("buscador").value.trim();
        const patterns = {
            cedula: /^(PE|E|N|\d{1,2}(AV|PI)?)-\d{1,4}-\d{1,6}$/, // Cédulas panameñas
            pasaporte: /^[A-Z]{2}\d{6,9}$/,                        // Pasaportes
            id_certificado: /^[a-zA-Z0-9]{8}$/                    // IDs de certificados
        };

        let action, field;

        if (patterns.cedula.test(valor)) {
            action = "/buscar_certificados";
            field = "cedula";
        } else if (patterns.pasaporte.test(valor)) {
            action = "/buscar_certificados";
            field = "cedula";
        } else if (patterns.id_certificado.test(valor)) {
            action = "/validar_certificado";
            field = "nanoid";
        } else {
            alert("Formato no válido. Introduzca un documento de identificación o un ID de certificado válido.");
            return;
        }

        // Crear y enviar el formulario dinámicamente
        const form = event.target;
        form.action = action;
        form.method = "POST";

        // Limpiar campos ocultos previos
        const hiddenInputs = form.querySelectorAll("input[type='hidden']");
        hiddenInputs.forEach((input) => input.remove());

        const hiddenInput = document.createElement("input");
        hiddenInput.type = "hidden";
        hiddenInput.name = field;
        hiddenInput.value = valor;
        form.appendChild(hiddenInput);
        form.submit();
    });
</script>
</body>

</html>