{% include 'tablero-header.html' %}

{% include 'tablero-sidebar.html' %}

    <!-- Content -->
    <div class="w-full lg:ps-64">
        <div class="p-4 sm:p-6 space-y-4 sm:space-y-6">

            <!-- Card Section -->
            <div class="max-w-[85rem] px-2 pt-1 mx-auto">
                <!-- Card -->
                <div class="bg-white border border-gray-200 rounded-xl p-4 sm:p-7 dark:bg-neutral-800">
                <div class="mb-8">
                    <h2 class="text-xl font-bold text-gray-800 dark:text-neutral-200">
                        Editar usuario
                    </h2>
                    <p class="text-sm text-gray-600 dark:text-neutral-400">
                        Editar datos de un coordinador de docencia
                    </p>
                </div>
            
                <form method="POST" enctype="multipart/form-data">
                    <!-- Grid -->
                    <div class="grid sm:grid-cols-12 gap-2 sm:gap-6">
                                
                        <div class="sm:col-span-3">
                            <label for="nombre-completo" class="inline-block text-sm text-gray-800 mt-2.5 dark:text-neutral-200">
                                Nombre completo
                            </label>
                        </div>
                        <!-- End Col -->
                
                        <div class="sm:col-span-9">
                            <div class="sm:flex">
                            <input id="nombres" name="nombres" type="text" class="py-2 px-3 pe-11 block w-full border-gray-200 shadow-sm -mt-px -ms-px first:rounded-t-lg last:rounded-b-lg sm:first:rounded-s-lg sm:mt-0 sm:first:ms-0 sm:first:rounded-se-none sm:last:rounded-es-none sm:last:rounded-e-lg text-sm relative focus:z-10 focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-800 dark:border-neutral-700 dark:text-neutral-400 dark:placeholder-neutral-500 dark:focus:ring-neutral-600" placeholder="Nombres..." value="{{ usuario.nombres }}">
                            <input id="apellidos" name="apellidos" type="text" class="py-2 px-3 pe-11 block w-full border-gray-200 shadow-sm -mt-px -ms-px first:rounded-t-lg last:rounded-b-lg sm:first:rounded-s-lg sm:mt-0 sm:first:ms-0 sm:first:rounded-se-none sm:last:rounded-es-none sm:last:rounded-e-lg text-sm relative focus:z-10 focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-800 dark:border-neutral-700 dark:text-neutral-400 dark:placeholder-neutral-500 dark:focus:ring-neutral-600" placeholder="Apellidos..." value="{{ usuario.apellidos }}">
                            </div>
                        </div>
                        <!-- End Col -->

                        <div class="sm:col-span-3">
                            <label for="genero" class="inline-block text-sm text-gray-800 mt-2.5 dark:text-neutral-200">
                                Género
                            </label>
                        </div>

                        <div class="sm:col-span-9">
                            <div class="sm:flex">
                              <label for="genero-m" class="flex py-2 px-3 w-full border border-gray-200 shadow-sm -mt-px -ms-px first:rounded-t-lg last:rounded-b-lg sm:first:rounded-s-lg sm:mt-0 sm:first:ms-0 sm:first:rounded-se-none sm:last:rounded-es-none sm:last:rounded-e-lg text-sm relative focus:z-10 focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-800 dark:border-neutral-700 dark:text-neutral-400 dark:placeholder-neutral-500 dark:focus:ring-neutral-600">
                                <input type="radio" name="genero" value="masculino" class="shrink-0 mt-0.5 border-gray-300 rounded-full text-blue-600 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-800 dark:border-neutral-500 dark:checked:bg-blue-500 dark:checked:border-blue-500 dark:focus:ring-offset-gray-800" id="genero-m" {% if usuario.genero == 'masculino' %}checked{% endif %}>
                                <span class="text-sm text-gray-500 ms-3 dark:text-neutral-400">Masculino</span>
                              </label>
                  
                              <label for="genero-f" class="flex py-2 px-3 w-full border border-gray-200 shadow-sm -mt-px -ms-px first:rounded-t-lg last:rounded-b-lg sm:first:rounded-s-lg sm:mt-0 sm:first:ms-0 sm:first:rounded-se-none sm:last:rounded-es-none sm:last:rounded-e-lg text-sm relative focus:z-10 focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-800 dark:border-neutral-700 dark:text-neutral-400 dark:placeholder-neutral-500 dark:focus:ring-neutral-600">
                                <input type="radio" name="genero" value="femenino" class="shrink-0 mt-0.5 border-gray-300 rounded-full text-blue-600 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-800 dark:border-neutral-500 dark:checked:bg-blue-500 dark:checked:border-blue-500 dark:focus:ring-offset-gray-800" id="genero-f" {% if usuario.genero == 'femenino' %}checked{% endif %}>
                                <span class="text-sm text-gray-500 ms-3 dark:text-neutral-400">Femenino</span>
                              </label>
                  
                              <label for="genero-o" class="flex py-2 px-3 w-full border border-gray-200 shadow-sm -mt-px -ms-px first:rounded-t-lg last:rounded-b-lg sm:first:rounded-s-lg sm:mt-0 sm:first:ms-0 sm:first:rounded-se-none sm:last:rounded-es-none sm:last:rounded-e-lg text-sm relative focus:z-10 focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-800 dark:border-neutral-700 dark:text-neutral-400 dark:placeholder-neutral-500 dark:focus:ring-neutral-600">
                                <input type="radio" name="genero" value="otro" class="shrink-0 mt-0.5 border-gray-300 rounded-full text-blue-600 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-800 dark:border-neutral-500 dark:checked:bg-blue-500 dark:checked:border-blue-500 dark:focus:ring-offset-gray-800" id="genero-o" {% if usuario.genero == 'otro' %}checked{% endif %}>
                                <span class="text-sm text-gray-500 ms-3 dark:text-neutral-400">Prefiero no especificar</span>
                              </label>
                            </div>
                        </div>

                        <div class="sm:col-span-3">
                            <label for="cedula" class="inline-block text-sm text-gray-800 mt-2.5 dark:text-neutral-200">
                                Identificación
                            </label>
                        </div>
                        <!-- End Col -->
                
                        <div class="sm:col-span-9">
                            <input id="cedula" name="cedula" type="text" class="py-2 px-3 pe-11 block w-full border-gray-200 shadow-sm text-sm rounded-lg focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-800 dark:border-neutral-700 dark:text-neutral-400 dark:placeholder-neutral-500 dark:focus:ring-neutral-600" placeholder="Escriba su número de cédula..." value="{{ usuario.cedula }}">
                        </div>
                        <!-- End Col -->

                        <div class="sm:col-span-3">
                            <label class="inline-block text-sm text-gray-800 mt-2.5 dark:text-neutral-200">
                                Fotografía de perfil
                                <span class="text-sm text-gray-400 dark:text-neutral-600">
                                    (tamaño mínimo 750x750 px)
                                </span>
                            </label>
                        </div>
                        <!-- End Col -->
                
                        <div class="sm:col-span-9">
                            <div class="flex items-center gap-5">
{% if foto_url %}
                                <img class="inline-block size-16 rounded-full ring-2 ring-white dark:ring-neutral-900" src="{{ foto_url }}" alt="Avatar">
{% else %}
                                <img class="inline-block size-16 rounded-full ring-2 ring-white dark:ring-neutral-900" src="{{ url_for('static', filename='assets/image-art.png') }}" alt="Avatar">
{% endif %}
                                <div class="flex gap-x-2">
                                    <div class="upload-container">
                                        <input type="file" name="foto" id="foto" class="block w-full border border-gray-200 shadow-sm rounded-lg text-sm focus:z-10 focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-900 dark:border-neutral-700 dark:text-neutral-400
                                        file:bg-gray-50 file:border-0
                                        file:bg-gray-100 file:me-4
                                        file:py-2 file:px-4
                                        dark:file:bg-neutral-700 dark:file:text-neutral-400" accept=".jpg, .jpeg" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Col -->

                        <div class="sm:col-span-3">
                            <label for="region" class="inline-block text-sm text-gray-800 mt-2.5 dark:text-neutral-200">
                                Región de Salud
                            </label>
                        </div>
                        <!-- End Col -->
                
                        <div class="sm:col-span-9">
                            <select class="py-2 px-3 pe-9 block w-full sm:w-auto border-gray-200 shadow-sm -mt-px -ms-px first:rounded-t-lg last:rounded-b-lg sm:first:rounded-s-lg sm:mt-0 sm:first:ms-0 sm:first:rounded-se-none sm:last:rounded-es-none sm:last:rounded-e-lg text-sm relative focus:z-10 focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-800 dark:border-neutral-700 dark:text-neutral-400 dark:placeholder-neutral-500 dark:focus:ring-neutral-600" id="region" name="region" required>
                                <option value="css01" {% if usuario.region == 'css01' %}selected{% endif %}>Región de Salud de Bocas Del Toro</option>
                                <option value="css02" {% if usuario.region == 'css02' %}selected{% endif %}>Región de Salud de Coclé</option>
                                <option value="css03" {% if usuario.region == 'css03' %}selected{% endif %}>Región de Salud de Colón</option>
                                <option value="css04" {% if usuario.region == 'css04' %}selected{% endif %}>Región de Salud de Chiriquí</option>
                                <option value="css06" {% if usuario.region == 'css06' %}selected{% endif %}>Región de Salud de Herrera</option>
                                <option value="css07" {% if usuario.region == 'css07' %}selected{% endif %}>Región de Salud de Los Santos</option>
                                <option value="css09" {% if usuario.region == 'css09' %}selected{% endif %}>Región de Salud de Veraguas</option>
                                <option value="css13" {% if usuario.region == 'css13' %}selected{% endif %}>Región de Salud de Panamá Oeste</option>
                                <option value="css082" {% if usuario.region == 'css082' %}selected{% endif %}>Región de Salud de Panamá Este</option>
                                <option value="css081" {% if usuario.region == 'css081' %}selected{% endif %}>Región de Salud de Panamá Metro</option>
                            </select>
                        </div>
                        <!-- End Col -->

                        <div class="sm:col-span-3">
                            <label for="unidad_ejecutora" class="inline-block text-sm text-gray-800 mt-2.5 dark:text-neutral-200">
                                Unidad ejecutora
                            </label>
                        </div>
                        <!-- End Col -->
                
                        <div class="sm:col-span-9">
                            <input id="unidad_ejecutora" name="unidad_ejecutora" type="text" class="py-2 px-3 pe-11 block w-full border-gray-200 shadow-sm text-sm rounded-lg focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-800 dark:border-neutral-700 dark:text-neutral-400 dark:placeholder-neutral-500 dark:focus:ring-neutral-600" placeholder="Escriba su unidad ejecutora..." value="{{ usuario.unidad_ejecutora }}">
                        </div>
                        <!-- End Col -->

                        <div class="sm:col-span-3">
                            <label for="departamento" class="inline-block text-sm text-gray-800 mt-2.5 dark:text-neutral-200">
                                Servicio o departamento adscrito
                            </label>
                        </div>
                        <!-- End Col -->
                
                        <div class="sm:col-span-9">
                            <input id="departamento" name="departamento" type="text" class="py-2 px-3 pe-11 block w-full border-gray-200 shadow-sm text-sm rounded-lg focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-800 dark:border-neutral-700 dark:text-neutral-400 dark:placeholder-neutral-500 dark:focus:ring-neutral-600" placeholder="Escriba el servicio o departamento al que pertenece..." value="{{ usuario.departamento }}">
                        </div>
                        <!-- End Col -->

                        <div class="sm:col-span-3">
                            <label for="cargo" class="inline-block text-sm text-gray-800 mt-2.5 dark:text-neutral-200">
                                Cargo
                            </label>
                        </div>
                        <!-- End Col -->
                
                        <div class="sm:col-span-9">
                            <input id="cargo" name="cargo" type="text" class="py-2 px-3 pe-11 block w-full border-gray-200 shadow-sm text-sm rounded-lg focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-800 dark:border-neutral-700 dark:text-neutral-400 dark:placeholder-neutral-500 dark:focus:ring-neutral-600" value="{{ usuario.cargo }}">
                        </div>
                        <!-- End Col -->

                        <div class="sm:col-span-3">
                            <label for="rol" class="inline-block text-sm text-gray-800 mt-2.5 dark:text-neutral-200">
                                Rol
                            </label>
                        </div>
                        <!-- End Col -->
                
                        <div class="sm:col-span-9">
                            <select class="py-2 px-3 pe-9 block w-full sm:w-auto border-gray-200 shadow-sm -mt-px -ms-px first:rounded-t-lg last:rounded-b-lg sm:first:rounded-s-lg sm:mt-0 sm:first:ms-0 sm:first:rounded-se-none sm:last:rounded-es-none sm:last:rounded-e-lg text-sm relative focus:z-10 focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-800 dark:border-neutral-700 dark:text-neutral-400 dark:placeholder-neutral-500 dark:focus:ring-neutral-600" id="rol" name="rol" required>
                                <option value="">Seleccione el rol de usuario</option>
{% if current_user.rol == 'administrador' %}
                                <option value="administrador" {% if usuario.rol == 'administrador' %}selected{% endif %}>Administrador</option>
{% endif %}
                                <option value="denadoi" {% if usuario.rol == 'denadoi' %}selected{% endif %}>DENADOI</option>
                                <option value="coordinador-departamental" {% if usuario.rol == 'coordinador-departamental' %}selected{% endif %}>Coordinador de Docencia Departamental</option>
                                <option value="coordinador-local" {% if usuario.rol == 'coordinador-local' %}selected{% endif %}>Coordinador Local de Docencia</option>
                                <option value="coordinador-regional" {% if usuario.rol == 'coordinador-regional' %}selected{% endif %}>Coordinador Regional de Docencia</option>
                                <option value="simulacion" {% if usuario.rol == 'simulacion' %}selected{% endif %}>Centro de Simulación Avanzada</option>
                            </select>
{% if current_user.rol == 'administrador' %}
                            <div class="py-4 gap-x-2 text-sm">
                                <div class="inline-block px-4">
                                    <label for="jefe">Jefe: </label>
                                    <input type="checkbox" id="jefe" name="jefe" {% if usuario.jefe %}checked{% endif %}>
                                </div>
                                <div class="inline-block px-4">
                                    <label for="subjefe">Subjefe: </label>
                                    <input type="checkbox" id="subjefe" name="subjefe" {% if usuario.subjefe %}checked{% endif %}>
                                </div>
                            </div>
{% endif %}
                        </div>
                        <!-- End Col -->

                        <div class="sm:col-span-3">
                            <label for="phone" class="inline-block text-sm text-gray-800 mt-2.5 dark:text-neutral-200">
                                Teléfono de contacto
                            </label>
                        </div>
                        <!-- End Col -->
                
                        <div class="sm:col-span-9">
                            <input type="tel" id="phone" name="phone" class="py-2 px-3 pe-11 block w-full border-gray-200 shadow-sm text-sm rounded-lg focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-800 dark:border-neutral-700 dark:text-neutral-400 dark:placeholder-neutral-500 dark:focus:ring-neutral-600" placeholder="+507-XXXX-XXXX" value="{{ usuario.phone }}">
                        </div>
                        <!-- End Col -->
            
                        <div class="sm:col-span-3">
                            <label for="email" class="inline-block text-sm text-gray-800 mt-2.5 dark:text-neutral-200">
                                Correo electrónico institucional
                            </label>
                        </div>
                        <!-- End Col -->
                
                        <div class="sm:col-span-9">
                            <input type="email" id="email" name="email" disabled class="py-2 px-3 pe-11 block w-full border-gray-200 shadow-sm text-sm rounded-lg focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-800 dark:border-neutral-700 dark:text-neutral-400 dark:placeholder-neutral-500 dark:focus:ring-neutral-600" placeholder="usuario@css.gob.pa" value="{{ usuario.email }}">
                        </div>
                        <!-- End Col -->
            
                        <div class="sm:col-span-3">
                            <label for="password" class="inline-block text-sm text-gray-800 mt-2.5 dark:text-neutral-200">
                                Contraseña
                            </label>
                            <span class="text-sm text-gray-400 dark:text-neutral-600">
                                ( Mostrar <input type="checkbox" onclick="this.form.password.type = this.checked ? 'text' : 'password'">  )
                            </span>
                        </div>
                        <!-- End Col -->
                
                        <div class="sm:col-span-9">
                            <div class="space-y-2">
                            <input type="password" id="password" name="password" class="py-2 px-3 pe-11 block w-full border-gray-200 shadow-sm rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-800 dark:border-neutral-700 dark:text-neutral-400 dark:placeholder-neutral-500 dark:focus:ring-neutral-600" placeholder="Escriba su contraseña...">
                            </div>
                        </div>
                        <!-- End Col -->
            
                    </div>
                    <!-- End Grid -->
            
                    <div class="mt-5 flex justify-end gap-x-2">
                        <button type="submit" class="py-2 px-3 inline-flex items-center gap-x-2 text-sm font-medium rounded-lg border border-transparent bg-blue-600 text-white hover:bg-blue-700 focus:outline-none focus:bg-blue-700 disabled:opacity-50 disabled:pointer-events-none">
                            Editar usuario
                        </button>
                    </div>
                </form>
                
                </div>
                <!-- End Card -->
            </div>
            <!-- End Card Section -->

{% include 'tablero-footer.html' %}
        
        </div>
    </div>
    <!-- FIN CONTENIDO -->

<!-- JS PLUGINS -->
<script src="{{ url_for('static', filename='node_modules/preline/dist/preline.js') }}"></script>
<script>
document.getElementById('phone').addEventListener('input', function (e) {
    let value = e.target.value;

    // Eliminar todos los caracteres que no sean dígitos
    value = value.replace(/\D/g, '');

    // Verificar si ya contiene el código de país y eliminarlo
    if (value.startsWith('507')) {
        value = value.slice(3); // Eliminar el código de país si ya está presente
    }

    // Formatear el número según el patrón +507-6XXX-XXXX
    if (value.length > 0) {
        value = '+507-' + value; // Agregar el código de país

        // Insertar guiones en las posiciones correctas
        if (value.length > 9) {
            value = value.slice(0, 9) + '-' + value.slice(9); // Después de los primeros 4 dígitos
        }
        if (value.length > 14) {
            value = value.slice(0, 14); // Limitar el número total de caracteres
        }
    }

    e.target.value = value; // Actualizar el valor del campo
});
</script>
</body>
</html>