{% include 'tablero-header.html' %}

{% include 'tablero-sidebar.html' %}
    
    <!-- CONTENIDO -->
    <div class="w-full lg:ps-64">
        <div class="p-4 sm:p-6 space-y-4 sm:space-y-6">

            <!-- Card Section -->
            <div class="max-w-[85rem] px-2 pt-1 mx-auto">
                <!-- Card -->
                <div class="bg-white border border-gray-200 rounded-xl p-4 sm:p-7 dark:bg-neutral-800">
                <div class="mb-8">
                    <h2 class="text-xl font-bold text-gray-800 dark:text-neutral-200">
                        Editar evento
                    </h2>
                    <p class="text-sm text-gray-600 dark:text-neutral-400">
                        Editar evento académico
                    </p>
                </div>

<!-- Mostrar mensajes -->
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
                    <div class="mb-4">
                        <ul>
                        {% for category, message in messages %}
                            <li class="{{ 'p-2 text-sm bg-red-100 text-red-800 rounded-xl' if category == 'error' else 'p-2 text-sm bg-green-100 text-green-800 rounded-xl' }}">
                            {{ message }}
                            </li>
                        {% endfor %}
                        </ul>
                    </div>
{% endif %}
{% endwith %}
            
                <form action="{{ url_for('editar_evento', codigo_evento=evento.codigo) }}" method="post" enctype="multipart/form-data">
                    <!-- Grid -->
                    <div class="grid sm:grid-cols-12 gap-2 sm:gap-6">
                        
                        <div class="sm:col-span-3">
                            <label for="nombre" class="inline-block text-sm text-gray-800 mt-2.5 dark:text-neutral-200">
                                Título la actividad docente
                            </label>
                        </div>
                        <!-- End Col -->
                
                        <div class="sm:col-span-9">
                            <input id="nombre" name="nombre" type="text" class="py-2 px-3 pe-11 block w-full border-gray-200 shadow-sm text-sm rounded-lg focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-800 dark:border-neutral-700 dark:text-neutral-400 dark:placeholder-neutral-500 dark:focus:ring-neutral-600" placeholder="Título de la actividad docente..." value="{{ evento.nombre }}">
                        </div>
                        <!-- End Col -->

                        <div class="sm:col-span-3">
                            <label for="unidad_ejecutora" class="inline-block text-sm text-gray-800 mt-2.5 dark:text-neutral-200">
                                Unidad ejecutora organizadora
                            </label>
                        </div>
                        <!-- End Col -->
                
                        <div class="sm:col-span-9">
                            <input id="unidad_ejecutora" name="unidad_ejecutora" type="text" class="py-2 px-3 pe-11 block w-full border-gray-200 shadow-sm text-sm rounded-lg focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-800 dark:border-neutral-700 dark:text-neutral-400 dark:placeholder-neutral-500 dark:focus:ring-neutral-600" placeholder="Escriba la unidad ejecutora organizadora..." value="{{ evento.unidad_ejecutora }}">
                        </div>
                        <!-- End Col -->

                        <div class="sm:col-span-3">
                            <label for="lugar" class="inline-block text-sm text-gray-800 mt-2.5 dark:text-neutral-200">
                                Lugar
                            </label>
                        </div>
                        <!-- End Col -->
                
                        <div class="sm:col-span-9">
                            <input id="lugar" name="lugar" type="text" class="py-2 px-3 pe-11 block w-full border-gray-200 shadow-sm text-sm rounded-lg focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-800 dark:border-neutral-700 dark:text-neutral-400 dark:placeholder-neutral-500 dark:focus:ring-neutral-600" placeholder="Sitio donde se realizará el evento..." value="{{ evento.lugar }}">
                        </div>
                        <!-- End Col -->

                        <div class="sm:col-span-3">
                            <label class="inline-block text-sm text-gray-800 mt-2.5 dark:text-neutral-200">Modalidad</label>
                        </div>

                        <div class="sm:col-span-9">
                            <select class="py-2 px-3 pe-9 block w-full sm:w-auto border-gray-200 shadow-sm -mt-px -ms-px first:rounded-t-lg last:rounded-b-lg sm:first:rounded-s-lg sm:mt-0 sm:first:ms-0 sm:first:rounded-se-none sm:last:rounded-es-none sm:last:rounded-e-lg text-sm relative focus:z-10 focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-800 dark:border-neutral-700 dark:text-neutral-400 dark:placeholder-neutral-500 dark:focus:ring-neutral-600" id="modalidad" name="modalidad" required>
                                <option value="">Seleccione la modalidad del evento académico</option>
                                <option value="Presencial" {% if evento.modalidad == 'Presencial' %}selected{% endif %}>Presencial</option>
                                <option value="Híbrida" {% if evento.modalidad == 'Híbrida' %}selected{% endif %}>Híbrida</option>
                                <option value="Virtual asincrónica" {% if evento.modalidad == 'Virtual asincrónica' %}selected{% endif %}>Virtual asincrónica</option>
                                <option value="Virtual sincrónica" {% if evento.modalidad == 'Virtual sincrónica' %}selected{% endif %}>Virtual sincrónica</option>
                            </select>
                        </div>

                        <div class="sm:col-span-3">
                            <label for="tipo" class="inline-block text-sm text-gray-800 mt-2.5 dark:text-neutral-200">
                                Categoría
                            </label>
                        </div>
                        <!-- End Col -->
                
                        <div class="sm:col-span-9">
                            <select class="py-2 px-3 pe-9 block w-full sm:w-auto border-gray-200 shadow-sm -mt-px -ms-px first:rounded-t-lg last:rounded-b-lg sm:first:rounded-s-lg sm:mt-0 sm:first:ms-0 sm:first:rounded-se-none sm:last:rounded-es-none sm:last:rounded-e-lg text-sm relative focus:z-10 focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-800 dark:border-neutral-700 dark:text-neutral-400 dark:placeholder-neutral-500 dark:focus:ring-neutral-600" id="tipo" name="tipo">
                                <option value="">Seleccione la categoría del evento</option>
                                <option value="Congreso" {% if evento.tipo == 'Congreso' %}selected{% endif %}>Congreso</option>
                                <option value="Seminario" {% if evento.tipo == 'Seminario' %}selected{% endif %}>Seminario</option>
                                <option value="Jornada" {% if evento.tipo == 'Jornada' %}selected{% endif %}>Jornada</option>
                                <option value="Sesión Docente" {% if evento.tipo == 'Sesión Docente' %}selected{% endif %}>Sesión Docente</option>
                                <option value="Simposio" {% if evento.tipo == 'Simposio' %}selected{% endif %}>Simposio</option>
                                <option value="Mesa Redonda" {% if evento.tipo == 'Mesa Redonda' %}selected{% endif %}>Mesa Redonda</option>
                                <option value="Taller" {% if evento.tipo == 'Taller' %}selected{% endif %}>Taller</option>
                                <option value="Curso" {% if evento.tipo == 'Curso' %}selected{% endif %}>Curso</option>
                                <option value="Diplomado" {% if evento.tipo == 'Diplomado' %}selected{% endif %}>Diplomado</option>
                                <option value="Seminario-Taller" {% if evento.tipo == 'Seminario-Taller' %}selected{% endif %}>Seminario-Taller</option>
                            </select>
                        </div>
                        <!-- End Col -->

                        <div class="sm:col-span-3">
                            <label for="fecha_inicio" class="inline-block text-sm text-gray-800 mt-2.5 dark:text-neutral-200">
                                Fecha de inicio
                            </label>
                        </div>
                        <!-- End Col -->
                
                        <div class="sm:col-span-9">
                            <input class="border-gray-200 rounded-lg inline-block text-gray-800 mt-2.5 dark:text-neutral-200" type="date" id="fecha_inicio" name="fecha_inicio" value="{{ evento.fecha_inicio.strftime('%Y-%m-%d') }}">
                        </div>
                        <!-- End Col -->

                        <div class="sm:col-span-3">
                            <label for="fecha_fin" class="inline-block text-sm text-gray-800 mt-2.5 dark:text-neutral-200">
                                Fecha de finalización
                            </label>
                        </div>
                        <!-- End Col -->
                
                        <div class="sm:col-span-9">
                            <input class="border-gray-200 rounded-lg inline-block text-gray-800 mt-2.5 dark:text-neutral-200" type="date" id="fecha_fin" name="fecha_fin" value="{{ evento.fecha_fin.strftime('%Y-%m-%d') }}">
                        </div>
                        <!-- End Col -->
            
                        <div class="sm:col-span-3">
                            <label for="descripcion" class="inline-block text-sm text-gray-800 mt-2.5 dark:text-neutral-200">
                                Descripción
                            </label>
                        </div>
                        <!-- End Col -->
            
                        <div class="sm:col-span-9">
                            <textarea id="descripcion" name="descripcion" class="py-2 px-3 block w-full border-gray-200 rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-800 dark:border-neutral-700 dark:text-neutral-400 dark:placeholder-neutral-500 dark:focus:ring-neutral-600" rows="6" placeholder="Breve descripción de la actividad docente...">{{ evento.descripcion }}</textarea>
                        </div>
                        <!-- End Col -->

                        <div class="sm:col-span-3">
                            <label class="inline-block text-sm text-gray-800 mt-2.5 dark:text-neutral-200">
                                Afiche del evento
                                <span class="text-sm text-gray-400 dark:text-neutral-600">
                                    (tamaño sugerido 1000x1000 px)
                                </span>
{% if evento.afiche %}
                                <a class="text-green-500" href="{{ BASE_URL }}{{ evento.afiche }}" target="_blank">
                                    <svg class="inline-block size-5" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-file-check"><path d="M15 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V7Z"/><path d="M14 2v4a2 2 0 0 0 2 2h4"/><path d="m9 15 2 2 4-4"/></svg>
                                </a>
{% else %}
                                <svg class="inline-block size-5 text-red-500" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-file-x"><path d="M15 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V7Z"/><path d="M14 2v4a2 2 0 0 0 2 2h4"/><path d="m14.5 12.5-5 5"/><path d="m9.5 12.5 5 5"/></svg>
{% endif %}
                            </label>
                        </div>
                        <!-- End Col -->
            
                        <div class="sm:col-span-9">
                            <div class="flex items-center gap-5">
                                <img class="inline-block size-16 rounded-full ring-2 ring-white dark:ring-neutral-900" src="{{ url_for('static', filename='assets/image-art.png') }}" alt="Avatar">
                                <div class="flex gap-x-2">
                                    <div class="upload-container">
                                        <input type="file" name="afiche_evento" id="afiche_evento" class="block w-full border border-gray-200 shadow-sm rounded-lg text-sm focus:z-10 focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-900 dark:border-neutral-700 dark:text-neutral-400
                                        file:bg-gray-50 file:border-0
                                        file:bg-gray-100 file:me-4
                                        file:py-2 file:px-4
                                        dark:file:bg-neutral-700 dark:file:text-neutral-400" accept=".jpg, .jpeg" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Col -->

                        <div class="sm:col-span-3">
                            <label class="inline-block text-sm text-gray-800 mt-2.5 dark:text-neutral-200">
                                Fondo de pantalla de registro
                                <span class="text-sm text-gray-400 dark:text-neutral-600">
                                    (tamaño sugerido 1920x1080 px)
                                </span>
{% if evento.fondo %}
                                <a class="text-green-500" href="{{ BASE_URL }}{{ evento.fondo }}" target="_blank">
                                    <svg class="inline-block size-5" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-file-check"><path d="M15 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V7Z"/><path d="M14 2v4a2 2 0 0 0 2 2h4"/><path d="m9 15 2 2 4-4"/></svg>
                                </a>
{% else %}
                                <svg class="inline-block size-5 text-red-500" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-file-x"><path d="M15 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V7Z"/><path d="M14 2v4a2 2 0 0 0 2 2h4"/><path d="m14.5 12.5-5 5"/><path d="m9.5 12.5 5 5"/></svg>
{% endif %}
                            </label>
                        </div>
                        <!-- End Col -->
            
                        <div class="sm:col-span-9">
                            <div class="flex items-center gap-5">
                                <img class="inline-block size-16 rounded-full ring-2 ring-white dark:ring-neutral-900" src="{{ url_for('static', filename='assets/image-art.png') }}" alt="Avatar">
                                <div class="flex gap-x-2">
                                    <div class="upload-container">
                                        <input type="file" name="fondo_evento" id="fondo_evento" class="block w-full border border-gray-200 shadow-sm rounded-lg text-sm focus:z-10 focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-900 dark:border-neutral-700 dark:text-neutral-400
                                        file:bg-gray-50 file:border-0
                                        file:bg-gray-100 file:me-4
                                        file:py-2 file:px-4
                                        dark:file:bg-neutral-700 dark:file:text-neutral-400" accept=".jpg, .jpeg" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Col -->

                        <div class="sm:col-span-3">
                            <label class="inline-block text-sm text-gray-800 mt-2.5 dark:text-neutral-200">
                                Programa del evento
                                <span class="text-sm text-gray-400 dark:text-neutral-600">
                                    (solo formato PDF)
                                </span>
{% if evento.programa %}
                                <a class="text-green-500" href="{{ BASE_URL }}{{ evento.programa }}" target="_blank">
                                    <svg class="inline-block size-5" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-file-check"><path d="M15 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V7Z"/><path d="M14 2v4a2 2 0 0 0 2 2h4"/><path d="m9 15 2 2 4-4"/></svg>
                                </a>
{% else %}
                                <svg class="inline-block size-5 text-red-500" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-file-x"><path d="M15 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V7Z"/><path d="M14 2v4a2 2 0 0 0 2 2h4"/><path d="m14.5 12.5-5 5"/><path d="m9.5 12.5 5 5"/></svg>
{% endif %}
                            </label>
                        </div>
                        <!-- End Col -->
            
                        <div class="sm:col-span-9">
                            <div class="flex items-center gap-5">
                            <img class="inline-block size-16 rounded-full ring-2 ring-white dark:ring-neutral-900" src="{{ url_for('static', filename='assets/program-art.png') }}" alt="Avatar">
                            <div class="flex gap-x-2">
                                <div class="upload-container">
                                    <input type="file" name="programa_evento" id="programa_evento" class="block w-full border border-gray-200 shadow-sm rounded-lg text-sm focus:z-10 focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-900 dark:border-neutral-700 dark:text-neutral-400
                                    file:bg-gray-50 file:border-0
                                    file:bg-gray-100 file:me-4
                                    file:py-2 file:px-4
                                    dark:file:bg-neutral-700 dark:file:text-neutral-400" accept=".pdf" />
                                </div>
                            </div>
                            </div>
                        </div>
                        <!-- End Col -->

                        <div class="sm:col-span-3">
                            <label class="inline-block text-sm text-gray-800 mt-2.5 dark:text-neutral-200">
                                Certificado del evento
                                <span class="text-sm text-gray-400 dark:text-neutral-600">
                                    (solo formato PDF)
                                </span>
{% if evento.certificado %}
                                <a class="text-green-500" href="{{ BASE_URL }}{{ evento.certificado }}" target="_blank">
                                    <svg class="inline-block size-5" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-file-check"><path d="M15 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V7Z"/><path d="M14 2v4a2 2 0 0 0 2 2h4"/><path d="m9 15 2 2 4-4"/></svg>
                                </a>
{% else %}
                                <svg class="inline-block size-5 text-red-500" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-file-x"><path d="M15 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V7Z"/><path d="M14 2v4a2 2 0 0 0 2 2h4"/><path d="m14.5 12.5-5 5"/><path d="m9.5 12.5 5 5"/></svg>
{% endif %}
                            </label>
                        </div>
                        <!-- End Col -->
                        
                        <div class="sm:col-span-9">
                            <div class="flex items-center gap-5">
                            <img class="inline-block size-16 rounded-full ring-2 ring-white dark:ring-neutral-900" src="{{ url_for('static', filename='assets/program-art.png') }}" alt="Avatar">
                            <div class="flex gap-x-2">
                                <div class="upload-container">
                                    <input type="file" name="certificado_evento" id="certificado_evento" class="block w-full border border-gray-200 shadow-sm rounded-lg text-sm focus:z-10 focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-900 dark:border-neutral-700 dark:text-neutral-400
                                    file:bg-gray-50 file:border-0
                                    file:bg-gray-100 file:me-4
                                    file:py-2 file:px-4
                                    dark:file:bg-neutral-700 dark:file:text-neutral-400" accept=".pdf" />
                                </div>
                            </div>
                            </div>
                        </div>
                        <!-- End Col -->

                        <div class="sm:col-span-3">
                            <label class="inline-block text-sm text-gray-800 mt-2.5 dark:text-neutral-200">Estado de evento</label>
                        </div>

                        <div class="sm:col-span-9">
                            <select class="py-2 px-3 pe-9 block w-full sm:w-auto border-gray-200 shadow-sm -mt-px -ms-px first:rounded-t-lg last:rounded-b-lg sm:first:rounded-s-lg sm:mt-0 sm:first:ms-0 sm:first:rounded-se-none sm:last:rounded-es-none sm:last:rounded-e-lg text-sm relative focus:z-10 focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-800 dark:border-neutral-700 dark:text-neutral-400 dark:placeholder-neutral-500 dark:focus:ring-neutral-600" id="estado_evento" name="estado_evento">
                                <option value="">Seleccione el estado del evento</option>
                                <option value="publicado" {% if evento.estado_evento == 'publicado' %}selected{% endif %}>Publicado</option>
                                <option value="borrador" {% if evento.estado_evento == 'borrador' %}selected{% endif %}>Borrador</option>
                            </select>
                        </div>

                        <!-- Campo oculto para el código del evento -->
                        <input type="hidden" id="codigo" name="codigo" value="{{ evento.codigo }}">

                        <!-- Campo oculto para el timestamp -->
                        <input type="hidden" id="timestamp" name="timestamp">

                    </div>
                    <!-- End Grid -->
            
                    <div class="mt-5 flex justify-end gap-x-2">
                        <button type="button" class="py-2 px-3 inline-flex items-center gap-x-2 text-sm font-medium rounded-lg border border-gray-200 bg-white text-gray-800 shadow-sm hover:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none focus:outline-none focus:bg-gray-50 dark:bg-transparent dark:border-neutral-700 dark:text-neutral-300 dark:hover:bg-neutral-800 dark:focus:bg-neutral-800">
                            Volver a la lista de eventos
                        </button>
                        <button type="submit" class="py-2 px-3 inline-flex items-center gap-x-2 text-sm font-medium rounded-lg border border-transparent bg-blue-600 text-white hover:bg-blue-700 focus:outline-none focus:bg-blue-700 disabled:opacity-50 disabled:pointer-events-none">
                            Editar evento
                        </button>
                    </div>
                </form>
                
                </div>
                <!-- End Card -->
            </div>
            <!-- End Card Section -->

{% include 'tablero-footer.html' %}

        </div>
    </div>
    <!-- FIN CONTENIDO -->

<!-- JS PLUGINS -->
<script src="{{ url_for('static', filename='node_modules/preline/dist/preline.js') }}"></script>
<script>
    // Limpia campos dinámicos al cargar la página
    document.addEventListener("DOMContentLoaded", function () {
        const hiddenInputs = document.querySelectorAll("#buscadorForm input[type='hidden']");
        hiddenInputs.forEach((input) => input.remove());
    });
    document.getElementById("buscadorForm").addEventListener("submit", function (event) {
        event.preventDefault(); // Prevenir envío estándar del formulario
    
        const valor = document.getElementById("buscador").value.trim();
        const patterns = {
            cedula: /^(PE|E|N|\d{1,2}(AV|PI)?)-\d{1,4}-\d{1,6}$/, // Cédulas panameñas
            pasaporte: /^[A-Z]{2}\d{6,9}$/,                        // Pasaportes
            id_certificado: /^[a-zA-Z0-9]{8}$/                    // IDs de certificados
        };
    
        let action, field;
    
        if (patterns.cedula.test(valor)) {
            action = "/buscar_certificados";
            field = "cedula";
        } else if (patterns.pasaporte.test(valor)) {
            action = "/buscar_certificados";
            field = "cedula";
        } else if (patterns.id_certificado.test(valor)) {
            action = "/validar_certificado";
            field = "nanoid";
        } else {
            alert("Formato no válido. Introduzca un documento de identificación o un ID de certificado válido.");
            return;
        }
    
        // Crear y enviar el formulario dinámicamente
        const form = event.target;
        form.action = action;
        form.method = "POST";
    
        // Limpiar campos ocultos previos
        const hiddenInputs = form.querySelectorAll("input[type='hidden']");
        hiddenInputs.forEach((input) => input.remove());
    
        const hiddenInput = document.createElement("input");
        hiddenInput.type = "hidden";
        hiddenInput.name = field;
        hiddenInput.value = valor;
        form.appendChild(hiddenInput);
        form.submit();
    });
</script>    
</html>