<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Lista de Eventos</title>
</head>
<body>
    <h1>Eventos Disponibles</h1>
    
    <table border="1">
        <thead>
            <tr>
                <th>Nombre del Evento</th>
                <th>Código del Evento</th>
                <th>Tipo de Evento</th>
                <th>Fecha de Inicio</th>
                <th>Acción</th> <!-- Nueva cabecera para la acción -->
            </tr>
        </thead>
        <tbody>
            {% for evento in eventos %}
            <tr>
                <td><a href="{{ url_for('listar_participantes', codigo_evento=evento.codigo) }}">{{ evento.nombre }}</a></td>
                <td>{{ evento.codigo }}</td>
                <td>{{ evento.tipo }}</td>
                <td>{{ evento.fecha_inicio }}</td>
                <td>
                    <!-- Botón para eliminar el evento -->
                    <form action="{{ url_for('eliminar_evento', codigo_evento=evento.codigo) }}" method="post" style="display:inline;">
                        <button type="submit" onclick="return confirm('¿Estás seguro de que deseas eliminar este evento?');">Eliminar Evento</button>
                    </form>
                    <a href="{{ url_for('registrar_ponente', codigo_evento=evento.codigo) }}">Registrar Ponente</a>
                    <a href="{{ url_for('index', codigo_evento=evento.codigo) }}">Registrar Participante</a>
                </td> <!-- Enlace para ver participantes -->
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <a href="/crear_evento">Crear Nuevo Evento</a><br><br> <!-- Enlace para crear nuevo evento -->
    <a href="/">Volver a la página principal</a>
</body>
</html>
