{% include 'tablero-header.html' %}

{% include 'tablero-sidebar.html' %}

    <!-- Content -->
    <div class="w-full lg:ps-64">
        <div class="p-4 sm:p-6 space-y-4 sm:space-y-6">
        
            <!-- TARJETAS RESUMEN -->
            <div class="max-w-[85rem] px-2 pt-1 mx-auto">
                <!-- SECCION -->
                <section id="certicss-certicss">
                    <div class="mb-5 pb-5 flex justify-between items-center border-b border-gray-200 dark:border-neutral-700">
                        <div>
                            <h2 class="text-2xl font-semibold text-gray-800 dark:text-neutral-200">Herramientas CertiCSS</h2>
                        </div>
                    </div>
                    <!-- Grid -->
                    <div class="grid sm:grid-cols-2 lg:grid-cols-4 gap-4 sm:gap-6">
                        <!-- Card -->
                        <div class="flex flex-col bg-white border shadow-sm rounded-xl dark:bg-neutral-900 dark:border-neutral-800">
                            <div class="p-4 md:p-5 flex justify-between gap-x-3 h-32">
                                <div>
                                    <p class="text-sm uppercase tracking-wide text-gray-500 dark:text-neutral-500">
                                        Carrusel de eventos
                                    </p>
                                    <div class="mt-1 flex items-center gap-x-2">
                                        <p class="text-xs text-gray-400">Muestra los eventos próximos a la fecha actual en un slider animado.</p>
                                    </div>
                                </div>
                                <div class="shrink-0 flex justify-center items-center size-[46px] bg-blue-600 text-white rounded-full dark:bg-blue-900 dark:text-blue-200">
                                    <svg class="shrink-0 size-7" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-presentation-icon lucide-presentation"><path d="M2 3h20"/><path d="M21 3v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V3"/><path d="m7 21 5-5 5 5"/></svg>
                                </div>
                            </div>
                            <a href="{{ url_for('herramientas.carrusel') }}" class="py-3 px-4 md:px-5 inline-flex justify-between items-center text-sm text-gray-600 border-t border-gray-200 hover:bg-gray-50 focus:outline-none focus:bg-gray-50 rounded-b-xl dark:border-neutral-800 dark:text-neutral-400 dark:hover:bg-neutral-800 dark:focus:bg-neutral-800">
                                Abrir
                                <svg class="shrink-0 size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-external-link-icon lucide-external-link"><path d="M15 3h6v6"/><path d="M10 14 21 3"/><path d="M18 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h6"/></svg>
                            </a>
                        </div>
                        <!-- End Card -->
                        <!-- Card -->
                        <div class="flex flex-col bg-white border shadow-sm rounded-xl dark:bg-neutral-900 dark:border-neutral-800">
                            <div class="p-4 md:p-5 flex justify-between gap-x-3 h-32">
                                <div>
                                    <p class="text-sm uppercase tracking-wide text-gray-500 dark:text-neutral-500">
                                        Temporizador
                                    </p>
                                    <div class="mt-1 flex items-center gap-x-2">
                                        <p class="text-xs text-gray-400">Temporizador de conteo regresivo para control de tiempo de conferencias.</p>
                                    </div>
                                </div>
                                <div class="shrink-0 flex justify-center items-center size-[46px] bg-blue-600 text-white rounded-full dark:bg-blue-900 dark:text-blue-200">
                                    <svg class="shrink-0 size-7" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-alarm-clock-icon lucide-alarm-clock"><circle cx="12" cy="13" r="8"/><path d="M12 9v4l2 2"/><path d="M5 3 2 6"/><path d="m22 6-3-3"/><path d="M6.38 18.7 4 21"/><path d="M17.64 18.67 20 21"/></svg>
                                </div>
                            </div>
                            <a href="{{ url_for('herramientas.temporizador') }}" class="py-3 px-4 md:px-5 inline-flex justify-between items-center text-sm text-gray-600 border-t border-gray-200 hover:bg-gray-50 focus:outline-none focus:bg-gray-50 rounded-b-xl dark:border-neutral-800 dark:text-neutral-400 dark:hover:bg-neutral-800 dark:focus:bg-neutral-800">
                                Abrir
                                <svg class="shrink-0 size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-external-link-icon lucide-external-link"><path d="M15 3h6v6"/><path d="M10 14 21 3"/><path d="M18 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h6"/></svg>
                            </a>
                        </div>
                        <!-- End Card -->
                    </div>
                    <!-- End Grid -->
                </section>
            </div>
            <!-- FIN TARJETAS RESUMEN -->

{% include 'tablero-footer.html' %}

        </div>
    </div>
    <!-- End Content -->

<!-- JS PLUGINS -->
<script src="{{ url_for('static', filename='node_modules/preline/dist/preline.js') }}"></script>
</body>
</html>