{% include 'tablero-header.html' %}

{% include 'tablero-sidebar.html' %}
    
    <!-- CONTENIDO -->
    <div class="w-full lg:ps-64">
        <div class="p-4 sm:p-6 space-y-4 sm:space-y-6">

            <!-- TABLA RESUMEN EVENTOS -->
            <div class="max-w-[85rem] px-2 pt-1 mx-auto">
                <!-- Card -->
                <div class="flex flex-col">
                <div class="-m-1.5 overflow-x-auto">
                    <div class="p-1.5 min-w-full inline-block align-middle">
                    
                        <div id="normativo-admin" class="grid mb-6">
                            <div class="flex flex-col p-4 bg-white border shadow-sm rounded-xl">
                                <div class="overflow-x-auto p-4">
                                    <h4 class="text-xl font-semibold text-gray-800 border-b pb-2 mb-2">Marco Normativo - Administrativo</h4>
                                    <p class="text-sm text-justify py-1">
                                        El desarrollo y operación de la plataforma CertiCSS se fundamenta en la normativa interna y administrativa de la Caja de Seguro Social. Esta herramienta digital ha sido diseñada para apoyar la gestión docente, asegurando la trazabilidad y validez de todas las actividades de educación médica continua. Su uso está sujeto a las directrices emitidas por la <strong>Dirección Ejecutiva Nacional de Servicios y Prestaciones de Salud (DENSYPS)</strong> a través del <strong>Departamento Nacional de Docencia e Investigación (DENADOI)</strong>.
                                    </p>
                                    <h5 class="text-base font-semibold text-gray-800 border-b pb-1 mt-4 mb-1">Sobre el refrendo de diplomas, certificaciones y documentos similares</h5>
                                    <ol class="py-1 list-decimal list-inside text-sm space-y-3 leading-relaxed">
                                        <li>
                                            Nota <strong>DENSYPS-DENADOI-N-1362-2024</strong>: que designa al Dr. Paulino Vigil-De Gracia (jefe del Departamento Nacional de Docencia e Investigación) como el responsable del refrendo de diplomas, certificaciones y documentos similares emitidos en el marco de las actividades docentes de la CSS. 
                                            <a class="text-blue-600 hover:text-blue-800 font-medium underline underline-offset-4" href="{{ url_for('static', filename='resources/legal/DENSYPS-DENADOI-N-1362-2024.pdf') }}" target="_blank">[Descargar documento]</a><br />
                                        </li>
                                        <li>
                                            Nota <strong>DENSYPS-DENADOI-C-N-45-2024</strong>: que comunica a todos los coordinadores locales y subdirectores de docencia e investigación los requisitos para el trámite de refrendo de certificados, diplomas y similares. 
                                            <a class="text-blue-600 hover:text-blue-800 font-medium underline underline-offset-4" href="{{ url_for('static', filename='resources/legal/DENSYPS-DENADOI-C-N-45-2024.pdf') }}" target="_blank">[Descargar documento]</a><br />
                                        </li>
                                    </ol>
                                    <!-- <h5 class="text-base font-semibold text-gray-800 border-b pb-1 mt-4 mb-1">Responsabilidad sobre las constancias de asistencia en eventos académicos</h5>
                                    <ol class="py-1 list-decimal list-inside text-sm space-y-3 leading-relaxed">
                                        <li>
                                            Nota <strong>DENSYPS-DENADOI-N-xx-2025</strong>: que designa a los coordinadores docentes o responsables de la actividad para que firmen y validen las constancias de asistencia de las actividades. <a class="text-blue-600 hover:text-blue-800 font-medium underline underline-offset-4" href="#" target="_blank">[Descargar documento]</a><br />
                                        </li>
                                    </ol> -->
                                    <div class="text-sm bg-gray-50 mt-4 p-3 rounded-md border">
                                        <p>Con base en estas disposiciones:<br /><br /></p>
                                        <p>- Todas las actividades académicas de la Caja de Seguro Social deben cumplir con los requisitos administrativos vigentes.</p>
                                        <p>- El refrendo del Jefe del Departamento Nacional de Docencia e Investigación constituye un acto obligatorio, sin el cual ningún diploma, certificación o documento similiar tendrá validez institucional.</p>
                                        <p>- Se establece como mínimo un 80% del tiempo de asistencia para los participantes para tener derecho a obtener su respectiva certificación o diploma.</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div id="normativo-innovacion" class="grid mb-6">
                            <div class="flex flex-col p-4 bg-white border shadow-sm rounded-xl">
                                <div class="overflow-x-auto p-4">
                                    <h4 class="text-xl font-semibold text-gray-800 border-b pb-2 mb-2">Marco Normativo - Docencia + Investigación + Desarrollo + Innovación</h4>
                                    <p class="text-sm text-justify py-1">
                                        El desarrollo de la plataforma CertiCSS se alinea con el compromiso de la Caja de Seguro Social (CSS) de promover la innovación y la tecnología, tal como lo exige el marco legal panameño. Esta herramienta de gestión docente busca garantizar la trazabilidad y validez de las actividades de educación médica continua, facilitando la adopción de tecnologías que mejoran los procesos internos y la capacitación de los profesionales de la salud de la institución.
                                    </p>
                                    <h5 class="text-base font-semibold text-gray-800 border-b pb-1 mt-4 mb-1">Sobre políticas de innovación, ciencias, tecnología y educación</h5>
                                    <ol class="py-1 list-decimal list-inside text-sm space-y-3 leading-relaxed">
                                        <li>
                                            <strong>Recomendación de la UNESCO sobre la ciencia abierta</strong>: que promueve el acceso abierto al conocimiento científico, la colaboración entre comunidades y el uso de tecnologías abiertas para acelerar la innovación. Respalda el desarrollo de soluciones locales, sostenibles y reproducibles, garantizando que la ciencia esté al servicio del bien común. <a class="text-blue-600 hover:text-blue-800 font-medium underline underline-offset-4" href="#" target="_blank">[Descargar documento]</a><br />
                                        </li>
                                        <li>
                                            <strong>Constitución Política de la República de Panamá</strong>: que reconoce explícitamente la responsabilidad del Estado en formular políticas científicas y tecnológicas (Art. 83) y establece que la educación debe basarse en la ciencia, promoviendo su desarrollo y difusión con criterios de equidad (Art. 91). <a class="text-blue-600 hover:text-blue-800 font-medium underline underline-offset-4" href="#" target="_blank">[Descargar documento]</a><br />
                                        </li>
                                        <li>
                                            <strong>Política Nacional de Ciencia, Tecnología e Innovación al 2040 (SENACYT)</strong>: que plantea la innovación abierta como un modelo que combina ideas internas y externas para generar soluciones útiles. <a class="text-blue-600 hover:text-blue-800 font-medium underline underline-offset-4" href="#" target="_blank">[Descargar documento]</a><br />
                                        </li>
                                        <li>
                                            <strong>Texto Único de la Ley Orgánica de la CSS</strong> incluyendo las reformas de la <strong>Ley 462 de 18 de marzo de 2025</strong>: (Art. 19) otorga a la institución la facultad de implementar medios tecnológicos que automaticen y optimicen su gestión, fortaleciendo el desarrollo de software interno, garantizando la usabilidad de las plataformas digitales y aplicando las mejores prácticas de seguridad informática para la protección de datos. (Art. 131 y 133) que consolidan la obligación institucional de la CSS de garantizar programas de docencia y educación continua, tanto para servidores públicos como para profesionales en formación. <a class="text-blue-600 hover:text-blue-800 font-medium underline underline-offset-4" href="#" target="_blank">[Descargar documento]</a><br />
                                        </li>
                                        <li>
                                            <strong>Hoja de Ruta AIG 2025</strong>: que recomienda la digitalización de los procesos en las instituciones públicas y menciona la gobernanza de datos públicos y la necesidad de manejar esa información de manera transparente, segura y ética. <a class="text-blue-600 hover:text-blue-800 font-medium underline underline-offset-4" href="#" target="_blank">[Descargar documento]</a><br />
                                        </li>
                                    </ol>
                                    <div class="text-sm bg-gray-50 mt-4 p-3 rounded-md border">
                                        <p>Con base en estas disposiciones:<br /><br /></p>
                                        <p>- CertiCSS se enmarca en los compromisos nacionales e internacionales de transformación digital, ciencia abierta y educación basada en la evidencia.</p>
                                        <p>- La Caja de Seguro Social tiene el mandato de promover la innovación, la ciencia y la tecnología como ejes de modernización institucional.</p>
                                        <p>- El desarrollo de CertiCSS facilita el acceso equitativo y sin fines de lucro a la educación médica continua para los profesionales de la salud de la CSS.</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div id="normativo-otras" class="grid">
                            <div class="flex flex-col p-4 bg-white border shadow-sm rounded-xl">
                                <div class="overflow-x-auto p-4">
                                    <h4 class="text-xl font-semibold text-gray-800 border-b pb-2 mb-2">Normas relacionadas</h4>
                                    <p class="text-sm text-justify py-1">
                                        En esta sección se citas otras normas y procedimientos internos de la Caja de Seguro Social, relacionados con las funciones de capacitación y docencia.
                                    </p>
                                    <h5 class="text-base font-semibold text-gray-800 border-b pb-1 mt-4 mb-1">Otras normativas</h5>
                                    <ol class="py-1 list-decimal list-inside text-sm space-y-3 leading-relaxed">
                                        <li>
                                            <strong>Reglamento de licencias, becas y auxilios (2004)</strong>: En el cual se detallan los procedimientos y requisitos para solicitar algunos de estos emolumentos como beneficio de ser funcionario de la Caja de Seguro Social. 
                                            <a class="text-blue-600 hover:text-blue-800 font-medium underline underline-offset-4" href="{{ url_for('static', filename='resources/legal/(2004)_Reglamento_de_becas_y_auxilios.pdf') }}" target="_blank">[Descargar documento]</a><br />
                                        </li>
                                        <li>
                                            <strong>Adenda complementaria II</strong> publicada en <strong>Gaceta Oficial 28355-A</strong>: Según el cual se reconoce el beneficio de sobresueldo por estudios adicionales (Cláusula décimo novena), se establece el otorgamiento de permisos para el personal médico para actividades de certificación y recertificación (Cláusula vigésima), y la obligatoreidad de dar docencia por parte de los médicos generales, especialistas y subespecialistas a estudiantes de medicina (Cláusula vigésimo primera). 
                                            <a class="text-blue-600 hover:text-blue-800 font-medium underline underline-offset-4" href="{{ url_for('static', filename='resources/legal/Adenda_complementaria_II.pdf') }}" target="_blank">[Descargar documento]</a><br />
                                        </li>
                                        <li>
                                            <strong>Manual de normas administrativas para la atención en consulta externa (2014)</strong>: En el cual se establecen los permisos por docencias programadas (con 60 días de antelación para cierre de agendas), el derecho a 2 horas de docencia semanales, la obligatoreidad de asistencia a las docencias semanales y la asignación horaria por realizar una investigación con protocolo debidamente aprobado. También se detalla la asignación horaria de los distintos tipos de coordinadores de docencia (según el nivel donde se desempeñan) y la obligatoreidad del coordinador de local de docencia de realizar las docencia semanales. 
                                            <a class="text-blue-600 hover:text-blue-800 font-medium underline underline-offset-4" href="{{ url_for('static', filename='resources/legal/(2012)_Manual_normas_administrativas_consulta_externa.pdf')}}" target="_blank">[Descargar documento]</a><br />
                                        </li>
                                        <li>
                                            <strong>Normas de aplicación en todos los servicios de urgencias</strong>: Donde se establece que el personal del servicio de urgencias debe cumplir con 40 horas de docencia anuales y que todo servicio de urgencias debe contar con un coordinador de docencia de servicio. 
                                            <a class="text-blue-600 hover:text-blue-800 font-medium underline underline-offset-4" href="{{ url_for('static', filename='resources/legal/(2019)_Manual_normas_administrativas_urgencias.pdf')}}" target="_blank">[Descargar documento]</a><br />
                                        </li>
                                    </ol>
                                </div>
                            </div>
                        </div>
                    
                    </div>
                </div>
                </div>
                <!-- End Card -->
            </div>
            <!-- FIN TABLA RESUMEN EVENTOS -->

{% include 'tablero-footer.html' %}

        </div>
    </div>
    <!-- FIN CONTENIDO -->

<!-- JS PLUGINS -->
<script src="{{ url_for('static', filename='node_modules/preline/dist/preline.js') }}"></script>
<script>
    // Limpia campos dinámicos al cargar la página
    document.addEventListener("DOMContentLoaded", function () {
        const hiddenInputs = document.querySelectorAll("#buscadorForm input[type='hidden']");
        hiddenInputs.forEach((input) => input.remove());
    });
    document.getElementById("buscadorForm").addEventListener("submit", function (event) {
        event.preventDefault(); // Prevenir envío estándar del formulario
    
        const valor = document.getElementById("buscador").value.trim();
        const patterns = {
            cedula: /^(PE|E|N|\d{1,2}(AV|PI)?)-\d{1,4}-\d{1,6}$/, // Cédulas panameñas
            pasaporte: /^[A-Z]{2}\d{6,9}$/,                        // Pasaportes
            id_certificado: /^[a-zA-Z0-9]{8}$/                    // IDs de certificados
        };
    
        let action, field;
    
        if (patterns.cedula.test(valor)) {
            action = "/buscar_certificados";
            field = "cedula";
        } else if (patterns.pasaporte.test(valor)) {
            action = "/buscar_certificados";
            field = "cedula";
        } else if (patterns.id_certificado.test(valor)) {
            action = "/validar_certificado";
            field = "nanoid";
        } else {
            alert("Formato no válido. Introduzca un documento de identificación o un ID de certificado válido.");
            return;
        }
    
        // Crear y enviar el formulario dinámicamente
        const form = event.target;
        form.action = action;
        form.method = "POST";
    
        // Limpiar campos ocultos previos
        const hiddenInputs = form.querySelectorAll("input[type='hidden']");
        hiddenInputs.forEach((input) => input.remove());
    
        const hiddenInput = document.createElement("input");
        hiddenInput.type = "hidden";
        hiddenInput.name = field;
        hiddenInput.value = valor;
        form.appendChild(hiddenInput);
        form.submit();
    });
</script>    
</body>
</html>