{% include 'tablero-header.html' %}

{% include 'tablero-sidebar.html' %}

    <!-- Content -->
    <div class="w-full lg:ps-64">
        <div class="p-4 sm:p-6 space-y-4 sm:space-y-6">

            <!-- Card Section -->
            <div class="max-w-[85rem] px-2 pt-1 mx-auto">

                <!-- Card -->
                <div class="bg-white rounded-xl shadow">
                    <div class="relative h-40 rounded-t-xl bg-profile bg-no-repeat bg-cover bg-center">
                        <!-- <div class="absolute top-0 end-0 p-4">
                            <button type="button" class="py-2 px-3 inline-flex items-center gap-x-2 text-sm font-medium rounded-lg border border-gray-200 bg-white text-gray-800 shadow-sm hover:bg-gray-50 focus:outline-none focus:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none">
                            <svg class="shrink-0 size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M21 15v4a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-4"/><polyline points="17 8 12 3 7 8"/><line x1="12" x2="12" y1="3" y2="15"/></svg>
                            Upload header
                            </button>
                        </div> -->
                    </div>
            
                    <div class="bg-css-profile pt-0 p-4 sm:pt-0 sm:p-7">
                        <!-- Grid -->
                        <div class="space-y-4 sm:space-y-6">
                            <div>
                
                                <div class="items-center flex flex-col sm:flex-row sm:items-center sm:gap-x-5">
{% if foto_url %}
                                    <img class="-mt-24 relative z-10 inline-block size-32 mx-auto sm:mx-0 rounded-full ring-4 ring-white" src="{{ foto_url }}" alt="Avatar de {{ usuario.nombre}} {{ usuario.apellidos }}">
{% else %}
                                    <img class="-mt-24 relative z-10 inline-block size-32 mx-auto sm:mx-0 rounded-full ring-4 ring-white" src="{{ url_for('static', filename='assets/user-avatar.png') }}" alt="Avatar">
{% endif %}
                                </div>

                                <div class="space-y-2 mt-2">
                                    <h2 class="text-xl font-semibold text-gray-800">
                                        {{ usuario.nombres }} {{ usuario.apellidos }}
                                    </h2>
                                    <span class="block text-sm font-semibold text-gray-800">
                                    {% if usuario.rol in ['simulacion', 'denadoi'] %}{{ usuario.cargo }} - {% endif %}
                                    {% set roles = {
                                        'coordinador-regional': 'Coordinador Regional de Docencia e Investigación -',
                                        'coordinador-local': 'Coordinador Local de Docencia e Investigación',
                                        'coordinador-departamental': 'Coordinador Departamental de Docencia',
                                        'denadoi': 'Departamento Nacional de Docencia e Investigación',
                                        'simulacion': 'Centro de Simulación Avanzada',
                                    } %}
                                    {{ roles[usuario.rol] if usuario.rol in roles else '' }}
                                    {% if usuario.rol == 'coordinador-regional' %}
                                        {% set regiones = {
                                            'css01': 'Región de Salud de Bocas Del Toro',
                                            'css02': 'Región de Salud de Coclé',
                                            'css03': 'Región de Salud de Colón',
                                            'css04': 'Región de Salud de Chiriquí',
                                            'css06': 'Región de Salud de Herrera',
                                            'css07': 'Región de Salud de Los Santos',
                                            'css09': 'Región de Salud de Veraguas',
                                            'css13': 'Región de Salud de Panamá Oeste',
                                            'css082': 'Región de Salud de Panamá Este',
                                            'css081': 'Región de Salud de Panamá Metro'
                                        } %}
                                        {{ regiones[usuario.region] if usuario.region in regiones else usuario.region }}
                                    {% endif %}
                                    </span>
                                    <p class="text-sm text-gray-600">
                                        <svg class="inline mr-2 size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-hospital"><path d="M12 6v4"/><path d="M14 14h-4"/><path d="M14 18h-4"/><path d="M14 8h-4"/><path d="M18 12h2a2 2 0 0 1 2 2v6a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2v-9a2 2 0 0 1 2-2h2"/><path d="M18 22V4a2 2 0 0 0-2-2H8a2 2 0 0 0-2 2v18"/></svg>
                                        {{ usuario.unidad_ejecutora }}{% if usuario.rol == 'coordinador-departamental' %} - {{ usuario.departamento }}{% endif %}
                                    </p>
                                </div>

                                <div class="space-y-2 mt-2">
                                    <p class="text-sm text-gray-600">
                                        <svg class="inline mr-2 size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-mail"><rect width="20" height="16" x="2" y="4" rx="2"/><path d="m22 7-8.97 5.7a1.94 1.94 0 0 1-2.06 0L2 7"/></svg>
                                        {{ usuario.email }}
                                    </p>
                                </div>

                                <div class="space-y-2 mt-2">
                                    <p class="text-sm text-gray-600">
                                        <svg class="inline mr-2 size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-messages-square"><path d="M14 9a2 2 0 0 1-2 2H6l-4 4V4a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2z"/><path d="M18 9h2a2 2 0 0 1 2 2v11l-4-4h-6a2 2 0 0 1-2-2v-1"/></svg>
                                        {{ usuario.phone }}
                                    </p>
                                </div>

                            </div>
                        </div>
                        <!-- End Grid -->
                    </div>
                </div>
                <!-- End Card -->

            </div>
            <!-- End Card Section -->

{% include 'tablero-footer.html' %}
        
        </div>
    </div>
    <!-- FIN CONTENIDO -->

<!-- JS PLUGINS -->
<script src="{{ url_for('static', filename='node_modules/preline/dist/preline.js') }}"></script>

</body>
</html>