<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Randomizador</title>
    <link rel="stylesheet" href="/static/css/custom.css">
    <link rel="stylesheet" href="/static/css/randomizer.css">
</head>
<body class="randomizer-bg">
    <div class="randomizer-container">
        <div id="numero" class="randomizer-numero">-</div>
        <button id="btn-random" class="randomizer-boton">¡Generar número!</button>
    </div>
    <script src="/static/js/randomizer.js"></script>
</body>
</html>
