{% include 'tablero-header.html' %}

{% include 'tablero-sidebar.html' %}

    <!-- Content -->
    <div class="w-full lg:ps-64">
        <div class="p-4 sm:p-6 space-y-4 sm:space-y-6">

            <!-- Card Section -->
            <div class="max-w-[85rem] px-2 pt-1 mx-auto">
                <!-- Card -->
                <div class="bg-white border border-gray-200 rounded-xl p-4 sm:p-7 dark:bg-neutral-800">
                <div class="mb-8">
                    <h2 class="text-xl font-bold text-gray-800 dark:text-neutral-200">
                        Registrar usuario
                    </h2>
                    <p class="text-sm text-gray-600 dark:text-neutral-400">
                        Registrar nuevo coordinador de docencia
                    </p>
                </div>
            
                <form method="POST">
                    <!-- Grid -->
                    <div class="grid sm:grid-cols-12 gap-2 sm:gap-6">
                                
                        <div class="sm:col-span-3">
                            <label for="nombre-completo" class="inline-block text-sm text-gray-800 mt-2.5 dark:text-neutral-200">
                                Nombre completo
                            </label>
                        </div>
                        <!-- End Col -->
                
                        <div class="sm:col-span-9">
                            <div class="sm:flex">
                            <input id="nombres" name="nombres" type="text" class="py-2 px-3 pe-11 block w-full border-gray-200 shadow-sm -mt-px -ms-px first:rounded-t-lg last:rounded-b-lg sm:first:rounded-s-lg sm:mt-0 sm:first:ms-0 sm:first:rounded-se-none sm:last:rounded-es-none sm:last:rounded-e-lg text-sm relative focus:z-10 focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-800 dark:border-neutral-700 dark:text-neutral-400 dark:placeholder-neutral-500 dark:focus:ring-neutral-600" placeholder="Nombres...">
                            <input id="apellidos" name="apellidos" type="text" class="py-2 px-3 pe-11 block w-full border-gray-200 shadow-sm -mt-px -ms-px first:rounded-t-lg last:rounded-b-lg sm:first:rounded-s-lg sm:mt-0 sm:first:ms-0 sm:first:rounded-se-none sm:last:rounded-es-none sm:last:rounded-e-lg text-sm relative focus:z-10 focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-800 dark:border-neutral-700 dark:text-neutral-400 dark:placeholder-neutral-500 dark:focus:ring-neutral-600" placeholder="Apellidos...">
                            </div>
                        </div>
                        <!-- End Col -->

                        <div class="sm:col-span-3">
                            <label for="genero" class="inline-block text-sm text-gray-800 mt-2.5 dark:text-neutral-200">
                                Género
                            </label>
                        </div>

                        <div class="sm:col-span-9">
                            <div class="sm:flex">
                              <label for="genero-m" class="flex py-2 px-3 w-full border border-gray-200 shadow-sm -mt-px -ms-px first:rounded-t-lg last:rounded-b-lg sm:first:rounded-s-lg sm:mt-0 sm:first:ms-0 sm:first:rounded-se-none sm:last:rounded-es-none sm:last:rounded-e-lg text-sm relative focus:z-10 focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-800 dark:border-neutral-700 dark:text-neutral-400 dark:placeholder-neutral-500 dark:focus:ring-neutral-600">
                                <input type="radio" name="genero" value="masculino" class="shrink-0 mt-0.5 border-gray-300 rounded-full text-blue-600 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-800 dark:border-neutral-500 dark:checked:bg-blue-500 dark:checked:border-blue-500 dark:focus:ring-offset-gray-800" id="genero-m">
                                <span class="text-sm text-gray-500 ms-3 dark:text-neutral-400">Masculino</span>
                              </label>
                  
                              <label for="genero-f" class="flex py-2 px-3 w-full border border-gray-200 shadow-sm -mt-px -ms-px first:rounded-t-lg last:rounded-b-lg sm:first:rounded-s-lg sm:mt-0 sm:first:ms-0 sm:first:rounded-se-none sm:last:rounded-es-none sm:last:rounded-e-lg text-sm relative focus:z-10 focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-800 dark:border-neutral-700 dark:text-neutral-400 dark:placeholder-neutral-500 dark:focus:ring-neutral-600">
                                <input type="radio" name="genero" value="femenino" class="shrink-0 mt-0.5 border-gray-300 rounded-full text-blue-600 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-800 dark:border-neutral-500 dark:checked:bg-blue-500 dark:checked:border-blue-500 dark:focus:ring-offset-gray-800" id="genero-f">
                                <span class="text-sm text-gray-500 ms-3 dark:text-neutral-400">Femenino</span>
                              </label>
                  
                              <label for="genero-o" class="flex py-2 px-3 w-full border border-gray-200 shadow-sm -mt-px -ms-px first:rounded-t-lg last:rounded-b-lg sm:first:rounded-s-lg sm:mt-0 sm:first:ms-0 sm:first:rounded-se-none sm:last:rounded-es-none sm:last:rounded-e-lg text-sm relative focus:z-10 focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-800 dark:border-neutral-700 dark:text-neutral-400 dark:placeholder-neutral-500 dark:focus:ring-neutral-600">
                                <input type="radio" name="genero" value="otro" class="shrink-0 mt-0.5 border-gray-300 rounded-full text-blue-600 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-800 dark:border-neutral-500 dark:checked:bg-blue-500 dark:checked:border-blue-500 dark:focus:ring-offset-gray-800" id="genero-o">
                                <span class="text-sm text-gray-500 ms-3 dark:text-neutral-400">Prefiero no especificar</span>
                              </label>
                            </div>
                        </div>

                        <div class="sm:col-span-3">
                            <label for="cedula" class="inline-block text-sm text-gray-800 mt-2.5 dark:text-neutral-200">
                                Identificación
                            </label>
                        </div>
                        <!-- End Col -->
                
                        <div class="sm:col-span-9">
                            <input id="cedula" name="cedula" type="text" class="py-2 px-3 pe-11 block w-full border-gray-200 shadow-sm text-sm rounded-lg focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-800 dark:border-neutral-700 dark:text-neutral-400 dark:placeholder-neutral-500 dark:focus:ring-neutral-600" placeholder="Escriba su número de cédula...">
                        </div>
                        <!-- End Col -->

                        <div class="sm:col-span-3">
                            <label for="region" class="inline-block text-sm text-gray-800 mt-2.5 dark:text-neutral-200">
                                Región de Salud
                            </label>
                        </div>
                        <!-- End Col -->
                
                        <div class="sm:col-span-9">
                            <select class="py-2 px-3 pe-9 block w-full sm:w-auto border-gray-200 shadow-sm -mt-px -ms-px first:rounded-t-lg last:rounded-b-lg sm:first:rounded-s-lg sm:mt-0 sm:first:ms-0 sm:first:rounded-se-none sm:last:rounded-es-none sm:last:rounded-e-lg text-sm relative focus:z-10 focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-800 dark:border-neutral-700 dark:text-neutral-400 dark:placeholder-neutral-500 dark:focus:ring-neutral-600" id="region" name="region" required>
                                <option value="">Seleccione la región de salud</option>
                                <option value="css01">Región de Salud de Bocas Del Toro</option>
                                <option value="css02">Región de Salud de Coclé</option>
                                <option value="css03">Región de Salud de Colón</option>
                                <option value="css04">Región de Salud de Chiriquí</option>
                                <option value="css06">Región de Salud de Herrera</option>
                                <option value="css07">Región de Salud de Los Santos</option>
                                <option value="css09">Región de Salud de Veraguas</option>
                                <option value="css13">Región de Salud de Panamá Oeste</option>
                                <option value="css082">Región de Salud de Panamá Este</option>
                                <option value="css081">Región de Salud de Panamá Metro</option>
                            </select>
                        </div>
                        <!-- End Col -->

                        <div class="sm:col-span-3">
                            <label for="unidad_ejecutora" class="inline-block text-sm text-gray-800 mt-2.5 dark:text-neutral-200">
                                Unidad ejecutora
                            </label>
                        </div>
                        <!-- End Col -->
                
                        <div class="sm:col-span-9">
                            <input id="unidad_ejecutora" name="unidad_ejecutora" type="text" class="py-2 px-3 pe-11 block w-full border-gray-200 shadow-sm text-sm rounded-lg focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-800 dark:border-neutral-700 dark:text-neutral-400 dark:placeholder-neutral-500 dark:focus:ring-neutral-600" placeholder="Escriba su unidad ejecutora...">
                        </div>
                        <!-- End Col -->

                        <div class="sm:col-span-3">
                            <label for="departamento" class="inline-block text-sm text-gray-800 mt-2.5 dark:text-neutral-200">
                                Servicio o departamento adscrito
                            </label>
                        </div>
                        <!-- End Col -->
                
                        <div class="sm:col-span-9">
                            <input id="departamento" name="departamento" type="text" class="py-2 px-3 pe-11 block w-full border-gray-200 shadow-sm text-sm rounded-lg focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-800 dark:border-neutral-700 dark:text-neutral-400 dark:placeholder-neutral-500 dark:focus:ring-neutral-600" placeholder="Escriba el servicio o departamento al que pertenece...">
                        </div>
                        <!-- End Col -->

                        <div class="sm:col-span-3">
                            <label for="rol" class="inline-block text-sm text-gray-800 mt-2.5 dark:text-neutral-200">
                                Rol
                            </label>
                        </div>
                        <!-- End Col -->
                
                        <div class="sm:col-span-9">
                            <select class="py-2 px-3 pe-9 block w-full sm:w-auto border-gray-200 shadow-sm -mt-px -ms-px first:rounded-t-lg last:rounded-b-lg sm:first:rounded-s-lg sm:mt-0 sm:first:ms-0 sm:first:rounded-se-none sm:last:rounded-es-none sm:last:rounded-e-lg text-sm relative focus:z-10 focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-800 dark:border-neutral-700 dark:text-neutral-400 dark:placeholder-neutral-500 dark:focus:ring-neutral-600" id="rol" name="rol" required>
                                <option value="">Seleccione el rol de usuario</option>
                                <option value="administrador">Administrador</option>
                                <option value="denadoi">DENADOI</option>
                                <option value="coordinador-departamental">Coordinador de Docencia Departamental</option>
                                <option value="coordinador-local">Coordinador Local de Docencia</option>
                                <option value="coordinador-regional">Coordinador Regional de Docencia</option>
                            </select>
                        </div>
                        <!-- End Col -->

                        <div class="sm:col-span-3">
                            <label for="phone" class="inline-block text-sm text-gray-800 mt-2.5 dark:text-neutral-200">
                                Teléfono de contacto
                            </label>
                        </div>
                        <!-- End Col -->
                
                        <div class="sm:col-span-9">
                            <input type="text" id="phone" name="phone" class="py-2 px-3 pe-11 block w-full border-gray-200 shadow-sm text-sm rounded-lg focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-800 dark:border-neutral-700 dark:text-neutral-400 dark:placeholder-neutral-500 dark:focus:ring-neutral-600" placeholder="+507-XXXX-XXXX">
                        </div>
                        <!-- End Col -->
            
                        <div class="sm:col-span-3">
                            <label for="email" class="inline-block text-sm text-gray-800 mt-2.5 dark:text-neutral-200">
                                Correo electrónico institucional
                            </label>
                        </div>
                        <!-- End Col -->
                
                        <div class="sm:col-span-9">
                            <input type="email" id="email" name="email" class="py-2 px-3 pe-11 block w-full border-gray-200 shadow-sm text-sm rounded-lg focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-800 dark:border-neutral-700 dark:text-neutral-400 dark:placeholder-neutral-500 dark:focus:ring-neutral-600" placeholder="usuario@css.gob.pa">
                        </div>
                        <!-- End Col -->
            
                        <div class="sm:col-span-3">
                            <label for="password" class="inline-block text-sm text-gray-800 mt-2.5 dark:text-neutral-200">
                                Contraseña
                            </label>
                            <span class="text-sm text-gray-400 dark:text-neutral-600">
                                ( Mostrar <input type="checkbox" onclick="this.form.password.type = this.checked ? 'text' : 'password'">  )
                            </span>
                        </div>
                        <!-- End Col -->
                
                        <div class="sm:col-span-9">
                            <div class="space-y-2">
                            <input type="password" id="password" name="password" class="py-2 px-3 pe-11 block w-full border-gray-200 shadow-sm rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-800 dark:border-neutral-700 dark:text-neutral-400 dark:placeholder-neutral-500 dark:focus:ring-neutral-600" placeholder="Escriba su contraseña...">
                            </div>
                        </div>
                        <!-- End Col -->
            
                    </div>
                    <!-- End Grid -->
            
                    <div class="mt-5 flex justify-end gap-x-2">
                        <button type="submit" class="py-2 px-3 inline-flex items-center gap-x-2 text-sm font-medium rounded-lg border border-transparent bg-blue-600 text-white hover:bg-blue-700 focus:outline-none focus:bg-blue-700 disabled:opacity-50 disabled:pointer-events-none">
                            Registrar usuario
                        </button>
                    </div>
                </form>
                
                </div>
                <!-- End Card -->
            </div>
            <!-- End Card Section -->

            <footer class="w-full mx-auto px-4">
                <div class="flex flex-wrap justify-between items-center gap-2">
                    <div>
                        <p class="text-xs text-gray-600 dark:text-neutral-400">
                            © 2024-2025 Departamento Nacional de Docencia e Investigación.
                        </p>
                    </div>
                    <!-- End Col -->
            
                    <a class="size-8 inline-flex justify-center items-center gap-x-2 text-sm font-semibold rounded-full border border-transparent text-gray-500 hover:bg-gray-50 focus:outline-none focus:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none dark:text-neutral-400 dark:hover:bg-neutral-700 dark:focus:bg-neutral-700" href="https://github.com/linkmoises/CertiCSS/">
                        <svg class="shrink-0 size-3.5" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
                        <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"/>
                        </svg>
                    </a>
                </div>
            </footer>
        
        </div>
    </div>
    <!-- FIN CONTENIDO -->

<!-- JS PLUGINS -->
<script src="{{ url_for('static', filename='node_modules/preline/dist/preline.js') }}"></script>

</body>
</html>