{% include 'tablero-header.html' %}

{% include 'tablero-sidebar.html' %}

    <!-- Content -->
    <div class="w-full lg:ps-64">
        <div class="p-4 sm:p-6 space-y-4 sm:space-y-6">

            <!-- Card Section -->
            <div class="max-w-[85rem] px-2 pt-1 mx-auto">
                <!-- Card -->
                <div class="bg-white border border-gray-200 rounded-xl p-4 sm:p-7 dark:bg-neutral-800">
                <div class="mb-8">
                    <h2 class="text-xl font-bold text-gray-800 dark:text-neutral-200">
                        Registrar usuario
                    </h2>
                    <p class="text-sm text-gray-600 dark:text-neutral-400">
                        Registrar nuevo coordinador de docencia
                    </p>
                </div>
            
                <form method="POST">
                    <!-- Grid -->
                    <div class="grid sm:grid-cols-12 gap-2 sm:gap-6">

                        <div class="sm:col-span-3">
                            <label for="nombre-completo" class="inline-block text-sm text-gray-800 mt-2.5 dark:text-neutral-200">
                                Nombre completo
                            </label>
                        </div>
                        <!-- End Col -->
                
                        <div class="sm:col-span-9">
                            <div class="sm:flex">
                            <input id="nombres" name="nombres" type="text" class="py-2 px-3 pe-11 block w-full border-gray-200 shadow-sm -mt-px -ms-px first:rounded-t-lg last:rounded-b-lg sm:first:rounded-s-lg sm:mt-0 sm:first:ms-0 sm:first:rounded-se-none sm:last:rounded-es-none sm:last:rounded-e-lg text-sm relative focus:z-10 focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-800 dark:border-neutral-700 dark:text-neutral-400 dark:placeholder-neutral-500 dark:focus:ring-neutral-600" placeholder="Nombres...">
                            <input id="apellidos" name="apellidos" type="text" class="py-2 px-3 pe-11 block w-full border-gray-200 shadow-sm -mt-px -ms-px first:rounded-t-lg last:rounded-b-lg sm:first:rounded-s-lg sm:mt-0 sm:first:ms-0 sm:first:rounded-se-none sm:last:rounded-es-none sm:last:rounded-e-lg text-sm relative focus:z-10 focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-800 dark:border-neutral-700 dark:text-neutral-400 dark:placeholder-neutral-500 dark:focus:ring-neutral-600" placeholder="Apellidos...">
                            </div>
                        </div>
                        <!-- End Col -->

                        <div class="sm:col-span-3">
                            <label for="genero" class="inline-block text-sm text-gray-800 mt-2.5 dark:text-neutral-200">
                                Género
                            </label>
                        </div>

                        <div class="sm:col-span-9">
                            <div class="sm:flex">
                              <label for="genero-m" class="flex py-2 px-3 w-full border border-gray-200 shadow-sm -mt-px -ms-px first:rounded-t-lg last:rounded-b-lg sm:first:rounded-s-lg sm:mt-0 sm:first:ms-0 sm:first:rounded-se-none sm:last:rounded-es-none sm:last:rounded-e-lg text-sm relative focus:z-10 focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-800 dark:border-neutral-700 dark:text-neutral-400 dark:placeholder-neutral-500 dark:focus:ring-neutral-600">
                                <input type="radio" name="genero" value="masculino" class="shrink-0 mt-0.5 border-gray-300 rounded-full text-blue-600 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-800 dark:border-neutral-500 dark:checked:bg-blue-500 dark:checked:border-blue-500 dark:focus:ring-offset-gray-800" id="genero-m">
                                <span class="text-sm text-gray-500 ms-3 dark:text-neutral-400">Masculino</span>
                              </label>
                  
                              <label for="genero-f" class="flex py-2 px-3 w-full border border-gray-200 shadow-sm -mt-px -ms-px first:rounded-t-lg last:rounded-b-lg sm:first:rounded-s-lg sm:mt-0 sm:first:ms-0 sm:first:rounded-se-none sm:last:rounded-es-none sm:last:rounded-e-lg text-sm relative focus:z-10 focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-800 dark:border-neutral-700 dark:text-neutral-400 dark:placeholder-neutral-500 dark:focus:ring-neutral-600">
                                <input type="radio" name="genero" value="femenino" class="shrink-0 mt-0.5 border-gray-300 rounded-full text-blue-600 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-800 dark:border-neutral-500 dark:checked:bg-blue-500 dark:checked:border-blue-500 dark:focus:ring-offset-gray-800" id="genero-f">
                                <span class="text-sm text-gray-500 ms-3 dark:text-neutral-400">Femenino</span>
                              </label>
                  
                              <label for="genero-o" class="flex py-2 px-3 w-full border border-gray-200 shadow-sm -mt-px -ms-px first:rounded-t-lg last:rounded-b-lg sm:first:rounded-s-lg sm:mt-0 sm:first:ms-0 sm:first:rounded-se-none sm:last:rounded-es-none sm:last:rounded-e-lg text-sm relative focus:z-10 focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-800 dark:border-neutral-700 dark:text-neutral-400 dark:placeholder-neutral-500 dark:focus:ring-neutral-600">
                                <input type="radio" name="genero" value="otro" class="shrink-0 mt-0.5 border-gray-300 rounded-full text-blue-600 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-800 dark:border-neutral-500 dark:checked:bg-blue-500 dark:checked:border-blue-500 dark:focus:ring-offset-gray-800" id="genero-o">
                                <span class="text-sm text-gray-500 ms-3 dark:text-neutral-400">Prefiero no especificar</span>
                              </label>
                            </div>
                        </div>

                        <div class="sm:col-span-3">
                            <label for="cedula" class="inline-block text-sm text-gray-800 mt-2.5 dark:text-neutral-200">
                                Identificación
                            </label>
                        </div>
                        <!-- End Col -->
                
                        <div class="sm:col-span-9">
                            <input id="cedula" name="cedula" type="text" 
                                class="py-2 px-3 pe-11 block w-full border-gray-200 shadow-sm text-sm rounded-lg focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none" 
                                placeholder="8-123-456" required 
                                onblur="validarCedula(this)" />
                            <small id="cedula-error" class="text-red-500 text-sm hidden">Cédula inválida. Por favor, verifica el formato.</small>
                        </div>
                        <!-- End Col -->

                        <div class="sm:col-span-3">
                            <label for="cedula" class="inline-block text-sm text-gray-800 mt-2.5 dark:text-neutral-200">
                                Perfil ORCID
                            </label>
                        </div>
                        <!-- End Col -->

                        <div class="sm:col-span-9">
                            <input id="orcid" name="orcid" class="py-2 px-3 pe-11 block w-full border-gray-200 shadow-sm text-sm rounded-lg focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none" type="text" placeholder="Código ORCID" />
                        </div>
                        <!-- End Col -->

                        <div class="sm:col-span-3">
                            <label for="region" class="inline-block text-sm text-gray-800 mt-2.5 dark:text-neutral-200">
                                Región de Salud
                            </label>
                        </div>
                        <!-- End Col -->
                
                        <div class="sm:col-span-9">
                            <select class="py-2 px-3 pe-9 block w-full sm:w-auto border-gray-200 shadow-sm -mt-px -ms-px first:rounded-t-lg last:rounded-b-lg sm:first:rounded-s-lg sm:mt-0 sm:first:ms-0 sm:first:rounded-se-none sm:last:rounded-es-none sm:last:rounded-e-lg text-sm relative focus:z-10 focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-800 dark:border-neutral-700 dark:text-neutral-400 dark:placeholder-neutral-500 dark:focus:ring-neutral-600" id="region" name="region" onchange="actualizarUnidadesUsuario()" required>
                                <option value="">Seleccione la región de salud</option>
                                <option value="css01">Región de Salud de Bocas Del Toro</option>
                                <option value="css02">Región de Salud de Coclé</option>
                                <option value="css03">Región de Salud de Colón</option>
                                <option value="css04">Región de Salud de Chiriquí</option>
                                <option value="css06">Región de Salud de Herrera</option>
                                <option value="css07">Región de Salud de Los Santos</option>
                                <option value="css09">Región de Salud de Veraguas</option>
                                <option value="css13">Región de Salud de Panamá Oeste</option>
                                <option value="css082">Región de Salud de Panamá Este</option>
                                <option value="css081">Región de Salud de Panamá Metro</option>
                                <option value="css088">Región de Salud de San Miguelito</option>
                            </select>
                        </div>
                        <!-- End Col -->

                        <div class="sm:col-span-3">
                            <label for="unidad_ejecutora" class="inline-block text-sm text-gray-800 mt-2.5 dark:text-neutral-200">
                                Unidad ejecutora
                            </label>
                        </div>
                        <!-- End Col -->
                
                        <div class="sm:col-span-9">
                            <select id="unidad_ejecutora" name="unidad_ejecutora" onchange="actualizarUnidadesUsuario()"
                                class="py-2 px-3 pe-9 block w-full sm:w-auto border-gray-200 shadow-sm -mt-px -ms-px first:rounded-t-lg last:rounded-b-lg sm:first:rounded-s-lg sm:mt-0 sm:first:ms-0 sm:first:rounded-se-none sm:last:rounded-es-none sm:last:rounded-e-lg text-sm relative focus:z-10 focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-800 dark:border-neutral-700 dark:text-neutral-400 dark:placeholder-neutral-500 dark:focus:ring-neutral-600" required>
                                <option value="">Seleccione una unidad ejecutora</option>
                            </select>
                        </div>
                        <!-- End Col -->

                        <div class="sm:col-span-3">
                            <label for="departamento" class="inline-block text-sm text-gray-800 mt-2.5 dark:text-neutral-200">
                                Servicio o departamento adscrito
                            </label>
                        </div>
                        <!-- End Col -->
                
                        <div class="sm:col-span-9">
                            <input id="departamento" name="departamento" type="text" class="py-2 px-3 pe-11 block w-full border-gray-200 shadow-sm text-sm rounded-lg focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-800 dark:border-neutral-700 dark:text-neutral-400 dark:placeholder-neutral-500 dark:focus:ring-neutral-600" placeholder="Escriba el servicio o departamento al que pertenece...">
                        </div>
                        <!-- End Col -->

                        <div class="sm:col-span-3">
                            <label for="cargo" class="inline-block text-sm text-gray-800 mt-2.5 dark:text-neutral-200">
                                Cargo
                            </label>
                        </div>
                        <!-- End Col -->
                
                        <div class="sm:col-span-9">
                            <input id="cargo" name="cargo" type="text" class="py-2 px-3 pe-11 block w-full border-gray-200 shadow-sm text-sm rounded-lg focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-800 dark:border-neutral-700 dark:text-neutral-400 dark:placeholder-neutral-500 dark:focus:ring-neutral-600">
                        </div>
                        <!-- End Col -->

                        <div class="sm:col-span-3">
                            <label for="rol" class="inline-block text-sm text-gray-800 mt-2.5 dark:text-neutral-200">
                                Rol
                            </label>
                        </div>
                        <!-- End Col -->
                
                        <div class="sm:col-span-9">
                            <select class="py-2 px-3 pe-9 block w-full sm:w-auto border-gray-200 shadow-sm -mt-px -ms-px first:rounded-t-lg last:rounded-b-lg sm:first:rounded-s-lg sm:mt-0 sm:first:ms-0 sm:first:rounded-se-none sm:last:rounded-es-none sm:last:rounded-e-lg text-sm relative focus:z-10 focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-800 dark:border-neutral-700 dark:text-neutral-400 dark:placeholder-neutral-500 dark:focus:ring-neutral-600" id="rol" name="rol" required>
                                <option value="">Seleccione el rol de usuario</option>
{% if current_user.rol in ['coordinador-local', 'coordinador-regional', 'coordinador-nacional', 'denadoi', 'administrador'] %}
                                <option value="coordinador-departamental">Coordinador de Docencia Departamental</option>
                                <option value="coordinador-local">Coordinador Local de Docencia</option>
{% endif %}
{% if current_user.rol in ['coordinador-nacional', 'denadoi', 'administrador'] %}
                                <option value="coordinador-regional">Coordinador Regional de Docencia</option>
{% endif %}
{% if current_user.rol in ['denadoi', 'administrador'] %}
                                <option value="coordinador-nacional">Coordinador Nacional de Docencia</option>
{% endif %}
{% if current_user.rol == 'administrador' %}
                                <option value="denadoi">DENADOI</option>
                                <option value="simulacion">Centro de Simulación Avanzada</option>
{% endif %}
                            </select>
                        </div>
                        <!-- End Col -->

                        <div class="sm:col-span-3">
                            <label for="phone" class="inline-block text-sm text-gray-800 mt-2.5 dark:text-neutral-200">
                                Teléfono móvil de contacto
                            </label>
                        </div>
                        <!-- End Col -->
                
                        <div class="sm:col-span-9">
                            <input type="tel" id="phone" name="phone" class="py-2 px-3 pe-11 block w-full border-gray-200 shadow-sm text-sm rounded-lg focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-800 dark:border-neutral-700 dark:text-neutral-400 dark:placeholder-neutral-500 dark:focus:ring-neutral-600" placeholder="+507-6XXX-XXXX" pattern="\+507-[6-9][0-9]{3}-[0-9]{4}" required />
                        </div>
                        <!-- End Col -->
            
                        <div class="sm:col-span-3">
                            <label for="email" class="inline-block text-sm text-gray-800 mt-2.5 dark:text-neutral-200">
                                Correo electrónico institucional
                            </label>
                        </div>
                        <!-- End Col -->
                
                        <div class="sm:col-span-9">
                            <input type="email" id="email" name="email" class="py-2 px-3 pe-11 block w-full border-gray-200 shadow-sm text-sm rounded-lg focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-800 dark:border-neutral-700 dark:text-neutral-400 dark:placeholder-neutral-500 dark:focus:ring-neutral-600" placeholder="usuario@css.gob.pa">
                        </div>
                        <!-- End Col -->
            
                        <div class="sm:col-span-3">
                            <label for="password" class="inline-block text-sm text-gray-800 mt-2.5 dark:text-neutral-200">
                                Contraseña
                            </label>
                            <span class="text-sm text-gray-400 dark:text-neutral-600">
                                ( Mostrar <input type="checkbox" onclick="this.form.password.type = this.checked ? 'text' : 'password'">  )
                            </span>
                        </div>
                        <!-- End Col -->
                
                        <div class="sm:col-span-9">
                            <div class="space-y-2">
                            <input type="password" id="password" name="password" class="py-2 px-3 pe-11 block w-full border-gray-200 shadow-sm rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-800 dark:border-neutral-700 dark:text-neutral-400 dark:placeholder-neutral-500 dark:focus:ring-neutral-600" placeholder="Escriba su contraseña...">
                            </div>
                        </div>
                        <!-- End Col -->
            
                    </div>
                    <!-- End Grid -->
            
                    <div class="mt-5 flex justify-end gap-x-2">
                        <button type="submit" class="py-2 px-3 inline-flex items-center gap-x-2 text-sm font-medium rounded-lg border border-transparent bg-blue-600 text-white hover:bg-blue-700 focus:outline-none focus:bg-blue-700 disabled:opacity-50 disabled:pointer-events-none">
                            Registrar usuario
                        </button>
                    </div>
                </form>
                
                </div>
                <!-- End Card -->
            </div>
            <!-- End Card Section -->

            <footer class="w-full mx-auto px-4">
                <div class="flex flex-wrap justify-between items-center gap-2">
                    <div>
                        <p class="text-xs text-gray-600 dark:text-neutral-400">
                            © 2024-2025 Departamento Nacional de Docencia e Investigación.
                        </p>
                    </div>
                    <!-- End Col -->
            
                    <a class="size-8 inline-flex justify-center items-center gap-x-2 text-sm font-semibold rounded-full border border-transparent text-gray-500 hover:bg-gray-50 focus:outline-none focus:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none dark:text-neutral-400 dark:hover:bg-neutral-700 dark:focus:bg-neutral-700" href="https://github.com/linkmoises/CertiCSS/">
                        <svg class="shrink-0 size-3.5" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
                        <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"/>
                        </svg>
                    </a>
                </div>
            </footer>
        
        </div>
    </div>
    <!-- FIN CONTENIDO -->

<!-- JS PLUGINS -->
<script src="{{ url_for('static', filename='node_modules/preline/dist/preline.js') }}"></script>
<script>
function validarCedula(input) {
    const cedula = input.value.trim();
    const errorMessage = document.getElementById('cedula-error');

    const patrones = [
        /^(PE|E|N|\d{1,2}(AV|PI)?)-\d{1,4}-\d{1,6}$|^[A-Z]{2}\d{6,20}$/
    ];

    // Verificar si la cédula cumple con alguno de los patrones
    const esValido = patrones.some(patron => patron.test(cedula));

    if (esValido) {
        input.classList.remove('border-red-500');
        input.classList.add('border-gray-200');
        errorMessage.classList.add('hidden');
    } else {
        input.classList.remove('border-gray-200');
        input.classList.add('border-red-500');
        errorMessage.classList.remove('hidden');
    }
}
document.getElementById('phone').addEventListener('input', function (e) {
    let value = e.target.value;

    // Eliminar todos los caracteres que no sean dígitos
    value = value.replace(/\D/g, '');

    // Verificar si ya contiene el código de país y eliminarlo
    if (value.startsWith('507')) {
        value = value.slice(3); // Eliminar el código de país si ya está presente
    }

    // Formatear el número según el patrón +507-6XXX-XXXX
    if (value.length > 0) {
        value = '+507-' + value; // Agregar el código de país

        // Insertar guiones en las posiciones correctas
        if (value.length > 9) {
            value = value.slice(0, 9) + '-' + value.slice(9); // Después de los primeros 4 dígitos
        }
        if (value.length > 14) {
            value = value.slice(0, 14); // Limitar el número total de caracteres
        }
    }

    e.target.value = value; // Actualizar el valor del campo
});
</script>
<script>
    const unidadesPorRegion = {
        css01: [ // Bocas del Toro
            "Coordinación Regional - Bocas del Toro",
            "Hospital Regional de Changuinola",
            "Hospital Regional de Almirante",
            "Hospital de Chiriquí Grande",
            "Policlínica de Guabito",
            "ULAPS Las Tablas"
        ],
        css02: [ // Coclé
            "Coordinación Regional - Coclé",
            "Hospital Regional Dr. Rafael Estévez",
            "Policlínica Dr. Manuel De Jesús Rojas",
            "Policlínica San Juan De Dios",
            "Policlínica Dr. Manuel Paulino Ocaña"
        ],
        css03: [ // Colón
            "Coordinación Regional - Colón",
            "Complejo Hospitalario Dr. Manuel Amador Guerrero",
            "Policlínica de Nuevo San Juan",
            "Policlínica de Sabanitas",
            "Policlínica Dr. Hugo Spadafora",
            "ULAPS Portobelo"
        ],
        css04: [ // Chiriquí
            "Coordinación Regional - Chiriquí",
            "Hospital Regional Dr. Rafael Hernández",
            "Hospital Dr. Dionisio Arrocha",
            "Policlínica Dr. Gustavo Adolfo Ross",
            "Policlínica Dr. Pablo Espinosa",
            "Policlínica Dr. Ernesto Perez Balladares",
            "Policlínica de Divalá",
            "ULAPS Nuevo Vedado",
            "ULAPS Volcán",
            "ULAPS Dolega",
            "CAPPS Barú",
            "CAPPS Jobito",
            "CAPPS Balsa",
            "CAPPS Blanco",
            "CAPPS Caoba",
            "CAPPS Corredor",
            "CAPPS Zapatero"
        ],
        css06: [ // Herrera
            "Coordinación Regional - Herrera",
            "Hospital Dr. Gustavo Nelson Collado",
            "Policlínica Dr. Roberto Ramírez De Diego",
            "CAPPS Los Pozos",
            "CAPPS Ocú",
            "CAPPS Pesé"
        ],
        css07: [ // Los Santos
            "Coordinación Regional - Los Santos",
            "Policlínica Dr. Miguel Cárdenas Barahona",
            "Policlínica San Juan de Dios",
            "CAPPS Guararé",
            "CAPPS Tonosí",
            "CAPPS Macaracas"
        ],
        css09: [ // Veraguas
            "Coordinación Regional - Veraguas",
            "Hospital Dr. Ezequiel Abadía",
            "Policlínica Dr. Horacio Díaz Gómez",
            "ULAPS Alberto León",
            "CAPPS Zapotillo"
        ],
        css13: [ // Panamá Oeste
            "Hospital Hogar de La Esperanza",
            "Policlínica Dr. Santiago Barraza",
            "Policlínica Dr. Blas Gómez Chetro",
            "Policlínica Dr. Juan Vega Méndez",
            "ULAPS Vista Alegre",
            "ULAPS Guadalupe",
            "ULAPS San José",
            "CAPPS Capira",
            "CAPPS Vacamonte",
            "CAPPS El Tecal"
        ],
        css082: [ // Panamá Este
            "Hospital Regional de Chepo",
            "Hospital Irma de Lourdes Tzanetatos",
            "Policlínica de Cañitas",
            "CAPPS Los Nogales"
        ],
        css081: [ // Panamá Metro
            "Ciudad De La Salud",
            "Complejo Hospitalario Metropolitano Dr. Arnulfo Arias Madrid",
            "Hospital de Especialidades Pediátricas Omar Torrijos Herrera",
            "Policlínica Presidente Remón",
            "Policlínica Dr. Manuel Ferrer Valdés",
            "Policlínica Dr. Carlos N. Brin",
            "Policlínica Don Alejandro De La Guardia Hijo",
            "Policlínica Don Joaquín José Vallarino",
            "ULAPS Máximo Herrera",
            "ULAPS Prof. Carlos Velarde",
            "CAPPS Plaza Tocumen",
            "CAPPS Pedregal"
        ],
        css088: [ // San Miguelito
            "Hospital Dra. Susana Jones Cano",
            "Policlínica Lic. Manuel María Valdés",
            "Policlínica Don Generoso Guardia",
            "Policlínica Dr. Edilberto Culiolis",
            "Policlínica Dra. Cecilia Guerra",
            "CAPPS Torrijos Carter"
        ]
    };
    
    function actualizarUnidadesUsuario() {
        const regionSeleccionada = document.getElementById("region").value;
        const unidadSelect = document.getElementById("unidad_ejecutora");
        
        // Limpiar opciones previas
        unidadSelect.innerHTML = '<option value="">Seleccione una unidad ejecutora</option>';
        
        if (regionSeleccionada && unidadesPorRegion[regionSeleccionada]) {
            unidadesPorRegion[regionSeleccionada].forEach(unidad => {
                const option = document.createElement("option");
                option.value = unidad;
                option.textContent = unidad;
                unidadSelect.appendChild(option);
            });
        }
    }
</script>
</body>
</html>