{% include 'tablero-header.html' %}

{% include 'tablero-sidebar.html' %}

<!-- Content -->
<div class="w-full lg:ps-64">
    <div class="p-4 sm:p-6 space-y-4 sm:space-y-6">

        <!-- TABLA RESUMEN USUARIOS -->
        <div class="max-w-[85rem] px-2 pt-1 mx-auto">
            <div class="flex flex-col">
                <div class="-m-1.5 overflow-x-auto">
                    <div class="p-1.5 min-w-full inline-block align-middle">
                        <div class="bg-white border border-gray-200 rounded-xl shadow-sm overflow-hidden">
                            <!-- Header -->
                            <div
                                class="px-6 py-4 grid gap-3 md:flex md:justify-between md:items-center border-b border-gray-200">
                                <div>
                                    <h2 class="text-xl font-semibold text-gray-800">
                                        Directorio de Usuarios
                                    </h2>
                                    <p class="text-sm text-gray-600">
                                        Usuarios registrados en CertiCSS
                                    </p>
                                </div>

                                <div>
                                    <div class="inline-flex gap-x-2">
                                        <a class="py-2 px-3 inline-flex items-center gap-x-2 text-sm font-medium rounded-lg border border-transparent bg-blue-600 text-white hover:bg-blue-700 focus:outline-none focus:bg-blue-700 disabled:opacity-50 disabled:pointer-events-none"
                                            href="{{ url_for('registro') }}">
                                            <svg class="shrink-0 size-4" xmlns="http://www.w3.org/2000/svg" width="24"
                                                height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                                stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                                <path d="M5 12h14" />
                                                <path d="M12 5v14" />
                                            </svg>
                                            Añadir usuario
                                        </a>
                                        {% if usuarios|length != 0 %}
                                        <div>
                                            <input
                                                class="text-gray-500 py-2 block w-full bg-white border-gray-200 rounded-lg text-sm focus:outline-none focus:border-blue-500 focus:ring-blue-500"
                                                type="text" id="search" placeholder="Filtrar usuarios...">
                                        </div>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            <!-- End Header -->

                            <!-- Table -->
                            <table class="min-w-full divide-y divide-gray-200">
                                <thead class="bg-gray-50">
                                    <tr>

                                        <th scope="col" class="ps-6 py-3 text-start">
                                            <div class="flex items-center gap-x-2">
                                                <span
                                                    class="text-xs font-semibold uppercase tracking-wide text-gray-800">
                                                    Nombre
                                                </span>
                                            </div>
                                        </th>

                                        <th scope="col" class="px-6 py-3 text-start">
                                            <div class="flex items-center gap-x-2">
                                                <span
                                                    class="text-xs font-semibold uppercase tracking-wide text-gray-800">
                                                    Rol
                                                </span>
                                            </div>
                                        </th>

                                        <th scope="col" class="px-6 py-3 text-start">
                                            <div class="flex items-center gap-x-2">
                                                <span
                                                    class="text-xs font-semibold uppercase tracking-wide text-gray-800">
                                                    Estado
                                                </span>
                                            </div>
                                        </th>

                                        <th scope="col" class="px-6 py-3 text-start">
                                            <div class="flex items-center gap-x-2">
                                                <span
                                                    class="text-xs font-semibold uppercase tracking-wide text-gray-800">
                                                    Fecha de creación
                                                </span>
                                            </div>
                                        </th>

                                        <th scope="col" class="px-6 py-3 text-end"></th>
                                    </tr>
                                </thead>

                                <tbody class="divide-y divide-gray-200">

                                    {% set regiones_nombres = {
                                    'css01': 'Bocas del Toro',
                                    'css02': 'Coclé',
                                    'css03': 'Colón',
                                    'css04': 'Chiriquí',
                                    'css06': 'Herrera',
                                    'css07': 'Los Santos',
                                    'css09': 'Veraguas',
                                    'css13': 'Panamá Oeste',
                                    'css082': 'Panamá Este',
                                    'css081': 'Panamá Metro',
                                    'css088': 'San Miguelito'
                                    } %}

                                    {% set ns = namespace(denadoi_shown=false, admin_section_shown=false,
                                    regiones_mostradas=[]) %}

                                    {% for usuario in usuarios %}
                                    {% if usuario.rol != 'administrador' %}

                                    {# Mostrar sección DENADOI solo si debe aparecer en esta página #}
                                    {% if usuario.rol == 'denadoi' and separadores_mostrar.denadoi and not
                                    ns.denadoi_shown %}
                                    {% set ns.denadoi_shown = true %}
                                    <tr class="bg-blue-50">
                                        <td colspan="5" class="px-6 py-4 text-center">
                                            <h3 class="text-lg font-semibold text-blue-800">Departamento Nacional de
                                                Docencia e Investigación</h3>
                                        </td>
                                    </tr>
                                    {% endif %}

                                    {# Mostrar separador de provincia solo si debe aparecer en esta página #}
                                    {% if (usuario.rol not in ['denadoi', 'coordinador-administrativo', 'simulacion']
                                    and
                                    usuario.region in separadores_mostrar.regiones and
                                    usuario.region not in ns.regiones_mostradas) %}
                                    {% set ns.regiones_mostradas = ns.regiones_mostradas + [usuario.region] %}
                                    {% if usuario.region in regiones_nombres %}
                                    <tr class="bg-gray-100">
                                        <td colspan="5" class="px-6 py-4 text-center">
                                            <h3 class="text-lg font-semibold text-gray-700">Provincia de {{
                                                regiones_nombres[usuario.region] }}</h3>
                                        </td>
                                    </tr>
                                    {% endif %}
                                    {% endif %}

                                    {# Mostrar sección de Unidades Administrativas solo si debe aparecer en esta página
                                    #}
                                    {% if usuario.rol in ['coordinador-administrativo', 'simulacion'] and
                                    separadores_mostrar.administrativos and not ns.admin_section_shown %}
                                    {% set ns.admin_section_shown = true %}
                                    <tr class="bg-green-50">
                                        <td colspan="5" class="px-6 py-4 text-center">
                                            <h3 class="text-lg font-semibold text-green-800">Unidades Administrativas
                                            </h3>
                                        </td>
                                    </tr>
                                    {% endif %}

                                    <tr class="bg-white hover:bg-gray-50">
                                        <td class="size-px w-60 min-w-60">
                                            <div class="ps-6 py-3">
                                                <div class="flex items-center gap-x-3">
                                                    <img class="shrink-0 size-[38px] rounded-full"
                                                        src="{{ usuario.foto_url }}"
                                                        alt="Avatar de {{ usuario.nombres }} {{ usuario.apellidos }}">
                                                    <div class="grow">
                                                        <span
                                                            class="block text-sm font-semibold text-gray-800 usuario-nombre">{{
                                                            usuario.nombres }} {{ usuario.apellidos }}
                                                            {% if usuario.orcid %}
                                                            <a href="https://orcid.org/{{ usuario.orcid }}"
                                                                target="_blank" title="Ver perfil ORCID"
                                                                class="inline-block align-top"></a>
                                                            <svg xmlns="http://www.w3.org/2000/svg" class="inline-block"
                                                                width="18" height="18" viewBox="0 0 256 256">
                                                                <circle cx="128" cy="128" r="128" fill="#A6CE39" />
                                                                <path fill="#fff"
                                                                    d="M86.3,186.2H70.9V79.1h15.4V186.2z M78.4,66.9c-5.6,0-10.1-4.6-10.1-10.1c0-5.6,4.5-10.1,10.1-10.1c5.6,0,10.1,4.6,10.1,10.1C88.5,62.3,84,66.9,78.4,66.9z M108.9,79.1h41.6c39.6,0,57,28.3,57,53.6c0,27.5-21.5,53.6-56.8,53.6h-41.8V79.1z M124.3,172.4h24.5c34.9,0,42.9-26.5,42.9-39.7c0-21.5-13.7-39.7-43.7-39.7h-23.7V172.4z" />
                                                            </svg>
                                                            </a>
                                                            {% endif %}
                                                        </span>
                                                        <span class="block text-sm text-gray-500">{{ usuario.email
                                                            }}</span>
                                                        <span class="block text-xs text-gray-500">{{ usuario.phone
                                                            }}</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                        <td class="w-80 min-w-80">
                                            <div class="px-6 py-3">
                                                <span class="block text-sm font-semibold text-gray-800 usuario-rol">{%
                                                    if usuario.rol == 'coordinador-administrativo' %}Coordinador de
                                                    Docencia de Unidad Administrativa{% endif %}{% if usuario.rol ==
                                                    'coordinador-regional' %}Coordinador Regional de Docencia e
                                                    Investigación{% endif %}{% if usuario.rol == 'coordinador-local'
                                                    %}Coordinador Local de Docencia e Investigación{% endif %}{% if
                                                    usuario.rol == 'subdirector-docencia' %}Subdirector de Docencia e
                                                    Investigación{% endif %}{% if usuario.rol ==
                                                    'coordinador-departamental' %}Coordinador de Docencia de Servicio{%
                                                    endif %}{% if usuario.rol in ['simulacion', 'denadoi'] %}{{
                                                    usuario.cargo }}{% endif %}</span>
                                                <span class="block text-sm italic text-gray-800">{% if usuario.rol ==
                                                    'coordinador-regional' %}
                                                    {% set regiones = {
                                                    'css01': 'Región de Salud de Bocas Del Toro',
                                                    'css02': 'Región de Salud de Coclé',
                                                    'css03': 'Región de Salud de Colón',
                                                    'css04': 'Región de Salud de Chiriquí',
                                                    'css06': 'Región de Salud de Herrera',
                                                    'css07': 'Región de Salud de Los Santos',
                                                    'css09': 'Región de Salud de Veraguas',
                                                    'css13': 'Región de Salud de Panamá Oeste',
                                                    'css082': 'Región de Salud de Panamá Este',
                                                    'css081': 'Región de Salud de Panamá Metro'
                                                    } %}
                                                    {{ regiones[usuario.region] if usuario.region in regiones else
                                                    usuario.region }}
                                                    {% endif %}</span>
                                                {% if usuario.rol == "denadoi" %}<span
                                                    class="block text-sm italic text-gray-500">Departamento Nacional de
                                                    Docencia e Investigación</span>{% endif %}
                                                {% if usuario.rol == 'simulacion' %}<span
                                                    class="block text-sm italic text-gray-500">Centro de Simulación
                                                    Avanzada</span>{% endif %}
                                                <span class="block text-sm text-gray-500">{{ usuario.unidad_ejecutora
                                                    }}</span>
                                                {% if usuario.rol == 'coordinador-departamental' %}<span
                                                    class="block text-sm italic text-gray-500">{{ usuario.departamento
                                                    }}</span>{% endif %}
                                            </div>
                                        </td>
                                        <td class="size-px whitespace-nowrap">
                                            <div class="px-6 py-3">
                                                {% if usuario.activo %}
                                                <span
                                                    class="py-1 px-1.5 inline-flex items-center gap-x-1 text-xs font-medium bg-teal-100 text-teal-800 rounded-full">
                                                    <svg class="size-2.5" xmlns="http://www.w3.org/2000/svg" width="16"
                                                        height="16" fill="currentColor" viewBox="0 0 16 16">
                                                        <path
                                                            d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
                                                    </svg>
                                                    Activo
                                                </span>
                                                {% else %}
                                                <span
                                                    class="py-1 px-1.5 inline-flex items-center gap-x-1 text-xs font-medium bg-red-100 text-red-800 rounded-full">
                                                    <svg class="size-2.5" xmlns="http://www.w3.org/2000/svg" width="16"
                                                        height="16" fill="currentColor" viewBox="0 0 16 16">
                                                        <path
                                                            d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z" />
                                                    </svg>
                                                    Inactivo
                                                </span>
                                                {% endif %}
                                            </div>
                                        </td>
                                        <td class="size-px whitespace-nowrap">
                                            <div class="px-6 py-3">
                                                <span class="text-sm text-gray-500">{{ usuario.timestamp.strftime('%d
                                                    %b, %Y - %H:%M') }}</span>
                                            </div>
                                        </td>
                                        <td class="size-px whitespace-nowrap">
                                            <div class="px-6 py-1.5">
                                                <a class="inline-flex items-center gap-x-1 text-sm text-blue-600 decoration-2 hover:underline focus:outline-none focus:underline font-medium"
                                                    href="{{ url_for('mostrar_usuario', user_id=usuario._id) }}">
                                                    Ver perfil
                                                    <svg class="size-3.5" xmlns="http://www.w3.org/2000/svg" width="24"
                                                        height="24" viewBox="0 0 24 24" fill="none"
                                                        stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                                        stroke-linejoin="round" class="lucide lucide-user-round-search">
                                                        <circle cx="10" cy="8" r="5" />
                                                        <path d="M2 21a8 8 0 0 1 10.434-7.62" />
                                                        <circle cx="18" cy="18" r="3" />
                                                        <path d="m22 22-1.9-1.9" />
                                                    </svg>
                                                </a><br />
                                                {% if current_user.id|string == usuario._id|string or current_user.rol
                                                == 'administrador' %}
                                                <a class="inline-flex items-center gap-x-1 text-sm text-blue-600 decoration-2 hover:underline focus:outline-none focus:underline font-medium"
                                                    href="{{ url_for('editar_usuario', user_id=usuario._id) }}">
                                                    Editar
                                                    <svg class="size-3.5" xmlns="http://www.w3.org/2000/svg" width="24"
                                                        height="24" viewBox="0 0 24 24" fill="none"
                                                        stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                                        stroke-linejoin="round" class="lucide lucide-user-round-pen">
                                                        <path d="M2 21a8 8 0 0 1 10.821-7.487" />
                                                        <path
                                                            d="M21.378 16.626a1 1 0 0 0-3.004-3.004l-4.01 4.012a2 2 0 0 0-.506.854l-.837 2.87a.5.5 0 0 0 .62.62l2.87-.837a2 2 0 0 0 .854-.506z" />
                                                        <circle cx="10" cy="8" r="5" />
                                                    </svg>
                                                </a><br />
                                                {% endif %}
                                                {% if usuario.foto %}
                                                {% if current_user.id|string == usuario._id|string or current_user.rol
                                                == 'administrador' %}
                                                <form action="{{ url_for('eliminar_foto', user_id=usuario._id) }}"
                                                    method="post" style="display:inline;">
                                                    <button type="submit"
                                                        onclick="return confirm('¿Estás seguro de que deseas eliminar la foto de perfil?');"
                                                        class="text-sm text-red-500 hover:text-red-700 inline-flex items-center gap-x-1">
                                                        Eliminar foto perfil
                                                        <svg class="size-3.5 text-red-500"
                                                            xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                            viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                                            stroke-width="2" stroke-linecap="round"
                                                            stroke-linejoin="round">
                                                            <path
                                                                d="M15 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V7Z" />
                                                            <path d="M14 2v4a2 2 0 0 0 2 2h4" />
                                                            <path d="m14.5 12.5-5 5" />
                                                            <path d="m9.5 12.5 5 5" />
                                                        </svg>
                                                    </button>
                                                </form><br />
                                                {% endif %}
                                                {% endif %}
                                                {% if current_user.rol == 'administrador' %}
                                                <form action="{{ url_for('toggle_activo', user_id=usuario._id) }}"
                                                    method="post" style="display:inline;">
                                                    <button type="submit"
                                                        onclick="return confirm('¿Estás seguro de que deseas {% if usuario.activo %}desactivar{% else %}activar{% endif %} este usuario?');"
                                                        class="text-sm {% if usuario.activo %}text-red-500 hover:text-red-700{% else %}text-green-500 hover:text-green-700{% endif %} inline-flex items-center gap-x-1">
                                                        {% if usuario.activo %}
                                                        Desactivar usuario
                                                        <svg class="size-3.5" xmlns="http://www.w3.org/2000/svg"
                                                            width="24" height="24" viewBox="0 0 24 24" fill="none"
                                                            stroke="currentColor" stroke-width="2"
                                                            stroke-linecap="round" stroke-linejoin="round"
                                                            class="lucide lucide-user-round-minus">
                                                            <path d="M2 21a8 8 0 0 1 13.292-6" />
                                                            <circle cx="10" cy="8" r="5" />
                                                            <path d="M22 19h-6" />
                                                        </svg>
                                                        {% else %}
                                                        Activar usuario
                                                        <svg class="size-3.5" xmlns="http://www.w3.org/2000/svg"
                                                            width="24" height="24" viewBox="0 0 24 24" fill="none"
                                                            stroke="currentColor" stroke-width="2"
                                                            stroke-linecap="round" stroke-linejoin="round"
                                                            class="lucide lucide-user-round-plus">
                                                            <path d="M2 21a8 8 0 0 1 13.292-6" />
                                                            <circle cx="10" cy="8" r="5" />
                                                            <path d="M19 16v6" />
                                                            <path d="M22 19h-6" />
                                                        </svg>
                                                        {% endif %}
                                                    </button>
                                                </form><br />
                                                {% endif %}
                                                {% if current_user.rol == 'administrador' %}
                                                <form action="{{ url_for('eliminar_usuario', user_id=usuario._id) }}"
                                                    method="post" style="display:inline;">
                                                    <button type="submit"
                                                        onclick="return confirm('¿Estás seguro de que deseas eliminar este usuario?');"
                                                        class="text-sm text-red-500 hover:text-red-700 inline-flex items-center gap-x-1">
                                                        Eliminar
                                                        <svg class="size-3.5" xmlns="http://www.w3.org/2000/svg"
                                                            width="24" height="24" viewBox="0 0 24 24" fill="none"
                                                            stroke="currentColor" stroke-width="2"
                                                            stroke-linecap="round" stroke-linejoin="round"
                                                            class="lucide lucide-user-round-x">
                                                            <path d="M2 21a8 8 0 0 1 11.873-7" />
                                                            <circle cx="10" cy="8" r="5" />
                                                            <path d="m17 17 5 5" />
                                                            <path d="m22 17-5 5" />
                                                        </svg>
                                                    </button>
                                                </form><br />
                                                {% endif %}
                                            </div>
                                        </td>
                                    </tr>
                                    {% endif %}
                                    {% endfor %}

                                </tbody>
                            </table>
                            <!-- End Table -->

                            <!-- Footer -->
                            <div
                                class="px-6 py-4 grid gap-3 md:flex md:justify-between md:items-center border-t border-gray-200">

                                <div>
                                    <p class="text-sm text-gray-600">
                                        <span class="font-semibold text-gray-800">{{ total_usuarios }}</span> {{
                                        'usuario registrado' if total_usuarios == 1 else 'usuarios registrados' }}
                                    </p>
                                </div>

                                <div>
                                    <div class="inline-flex gap-x-2">
                                        {% if page > 1 %}
                                        <a href="{{ url_for('listar_usuarios', page=page-1) }}"
                                            class="py-2 px-3 inline-flex items-center gap-x-2 text-sm font-medium rounded-lg border border-gray-200 bg-white text-gray-800 shadow-sm hover:bg-gray-50 focus:outline-none focus:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-800 dark:border-neutral-700 dark:text-white dark:hover:bg-neutral-700 dark:focus:bg-neutral-700">
                                            <svg class="shrink-0 size-4" xmlns="http://www.w3.org/2000/svg" width="24"
                                                height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                                stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                                <path d="m15 18-6-6 6-6" />
                                            </svg>
                                            Anterior
                                        </a>
                                        {% endif %}
                                        <p class="px-3 py-2 text-sm text-gray-600">
                                            Página {{ page }} de {{ total_paginas }}
                                        </p>
                                        {% if page < total_paginas %} <a
                                            href="{{ url_for('listar_usuarios', page=page+1) }}"
                                            class="py-2 px-3 inline-flex items-center gap-x-2 text-sm font-medium rounded-lg border border-gray-200 bg-white text-gray-800 shadow-sm hover:bg-gray-50 focus:outline-none focus:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-800 dark:border-neutral-700 dark:text-white dark:hover:bg-neutral-700 dark:focus:bg-neutral-700">
                                            Siguiente
                                            <svg class="shrink-0 size-4" xmlns="http://www.w3.org/2000/svg" width="24"
                                                height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                                stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                                <path d="m9 18 6-6-6-6" />
                                            </svg>
                                            </a>
                                            {% endif %}
                                    </div>
                                </div>

                            </div>
                            <!-- End Footer -->
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Card -->
        </div>
        <!-- FIN TABLA RESUMEN USUARIOS -->

        {% include 'tablero-footer.html' %}

    </div>
</div>
<!-- End Content -->

<!-- JS PLUGINS -->
<script src="{{ url_for('static', filename='node_modules/preline/dist/preline.js') }}"></script>
<script>
    // Limpia campos dinámicos al cargar la página
    document.addEventListener("DOMContentLoaded", function () {
        const hiddenInputs = document.querySelectorAll("#buscadorForm input[type='hidden']");
        hiddenInputs.forEach((input) => input.remove());
    });
    document.getElementById("buscadorForm").addEventListener("submit", function (event) {
        event.preventDefault(); // Prevenir envío estándar del formulario

        const valor = document.getElementById("buscador").value.trim();
        const patterns = {
            cedula: /^(PE|E|N|\d{1,2}(AV|PI)?)-\d{1,4}-\d{1,6}$/, // Cédulas panameñas
            pasaporte: /^[A-Z]{2}\d{6,9}$/,                        // Pasaportes
            id_certificado: /^[a-zA-Z0-9]{8}$/                    // IDs de certificados
        };

        let action, field;

        if (patterns.cedula.test(valor)) {
            action = "/buscar_certificados";
            field = "cedula";
        } else if (patterns.pasaporte.test(valor)) {
            action = "/buscar_certificados";
            field = "cedula";
        } else if (patterns.id_certificado.test(valor)) {
            action = "/validar_certificado";
            field = "nanoid";
        } else {
            alert("Formato no válido. Introduzca un documento de identificación o un ID de certificado válido.");
            return;
        }

        // Crear y enviar el formulario dinámicamente
        const form = event.target;
        form.action = action;
        form.method = "POST";

        // Limpiar campos ocultos previos
        const hiddenInputs = form.querySelectorAll("input[type='hidden']");
        hiddenInputs.forEach((input) => input.remove());

        const hiddenInput = document.createElement("input");
        hiddenInput.type = "hidden";
        hiddenInput.name = field;
        hiddenInput.value = valor;
        form.appendChild(hiddenInput);
        form.submit();
    });
</script>
<script>
    document.getElementById('search').addEventListener('input', function () {
        const searchText = this.value.trim().toLowerCase(); // Texto de búsqueda
        const rows = document.querySelectorAll('tr.bg-white'); // Todas las filas de la tabla

        rows.forEach(row => {
            const nombre = row.querySelector('.usuario-nombre').textContent.toLowerCase();
            const rol = row.querySelector('.usuario-rol').textContent.toLowerCase();

            // Verificar si el texto de búsqueda coincide con nombre o rol
            if (nombre.includes(searchText) || rol.includes(searchText)) {
                row.style.display = ''; // Mostrar la fila
                // Resaltar coincidencias en nombre y rol
                highlightText(row.querySelector('.usuario-nombre'), searchText);
                highlightText(row.querySelector('.usuario-rol'), searchText);
            } else {
                row.style.display = 'none'; // Ocultar la fila
            }
        });
    });

    // Función para resaltar el texto coincidente
    function highlightText(element, searchText) {
        if (!searchText) {
            // Si no hay texto de búsqueda, restaurar el contenido original
            element.innerHTML = element.textContent;
            return;
        }

        const text = element.textContent;
        const regex = new RegExp(`(${searchText})`, 'gi'); // Expresión regular para buscar coincidencias
        const highlightedText = text.replace(regex, '<span class="bg-yellow-200">$1</span>'); // Resaltar coincidencias
        element.innerHTML = highlightedText; // Actualizar el contenido del elemento
    }
</script>
</body>

</html>